<div id="newsletter-container" style="display:none;">
	<div class="row">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
		</span>
		<span class="aside-title">Newsletter</span>
	</div>
	<div id="last_newsletter"></div>
</div>