<!-- Example: http://fontawesome.io/examples/ -->
<div class="row">
    <span class="fa-stack fa-lg" >
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x"></i>
    </span>
    <a href="https://twitter.com/icrpartners1" target="_blank">
        <span class="aside-title">Twitter</span>
    </a>
</div>

<!--
<h1><img alt="Twitter" height="32" src="/sites/default/files/icons/twitter.png" width="32" /> Twitter</h1>
-->
<p><a class="twitter-timeline" 
      height="550"
	  data-chrome="nofooter noborders noheader"
	  href="https://twitter.com/icrpartners1"></a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
<hr />