<div class="container-fluid front-page">
    <div class="row">
        <div class="col-sm-12">
            <div class="row well bg-blue">
                <div class="col-sm-9" style="text-align:center;">Established in 2000, International Cancer Research Partnership (ICRP) is a unique alliance of cancer organizations working together to enhance global collaboration and strategic coordination of research.</div>

                <div class="col-sm-3" style="text-align:center;"><a class="btn btn-primary btn-responsive" href="/db_search" role="button">Search Database</a></div>
            </div>

            <div class="row">
                <div class="col-sm-4" style="text-align:left;">
                    <h1 style="font-size: 24px">What We Do</h1>
                    <hr style="margin: 0 0 10px 0">
                    <p>ICRP’s partners are an active network of cancer research funding organizations, working together to enhance global collaboration.  ICRP maintains the only public source, worldwide, of current and past grants, totalling over $50 billion in cancer research since 2000 from <a href="/partners"><span data-count="partners">21</span> ICRP Partners</a> and <a href="/partners"><span data-count="funding-organizations">114</span> international funding organizations</a>.</p>
                </div>

                <div class="col-sm-4" style="text-align:left;">
                    <h1 style="font-size: 24px">What You Can Do</h1>
                    <hr style="margin: 0 0 10px 0">
                <!--
                    <p>Any researcher can <a href="/db_search">search the public ICRP database</a> to research on a particular cancer site or topic, determine which funders are funding research in a particular topic, find other organizations around the world to collaborate with, and review the portfolio to determine informed, non-duplicative research questions/efforts.</p>
                -->
                    <p>You can search the <a href="/map">interactive ICRP map</a> and <a href="/db_search">database</a> to determine which funders are funding research in a particular cancer site or topic, find other organizations or researchers around the world to collaborate with, and review the portfolio to plan informed, non-duplicative research questions.</p>
                </div>

                <div class="col-sm-4" style="text-align:left;">
                    <h1 style="font-size: 24px">Who We Are</h1>
                    <hr style="margin: 0 0 10px 0">

                    <p><a href="/partners">ICRP Partners</a> are cancer research organizations from Australia, Canada, France, Japan, Netherlands, United Kingdom, and the United States.&nbsp; Partners share funding data with the ICRP in a <a href="/cso">common format</a>.</p>

                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"  style="text-align:center;" >
					<a href="/db_search" title="Search Database">
                        <div class="fa-6x">
                            <i style="color: #3371a8;" class="fas fa-chart-pie"></i>
                        </div>
                    </a>
					<!--<div class="hovereffect">
                        <i class="fa fa-pie-chart img-responsive" aria-hidden="true"></i>
                        <div class="overlay">
                            <h2>Search Database</h2>
                            <a class="info" href="/db_search">link here</a>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="text-align:center;">
					<a href="/library" title="ICRP Library">
                        <div class="fa-6x">
                            <i style="color: #3371a8;" class="fas fa-server"></i>
                        </div>
                    </a>
                    <!-- <div class="hovereffect">
                        <i class="fa fa-book img-responsive" aria-hidden="true"></i>
                        <div class="overlay">
                            <h2>ICRP Library</h2>
                            <a class="info" href="/library">link here</a>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="text-align:center;">
					<a href="/partners" title="Current Partners">
                        <div class="fa-6x">
                            <i style="color: #3371a8;" class="fas fa-users"></i>
                        </div>
                    </a>

                    <!-- <div class="hovereffect">
                        <i class="fa fa-users img-responsive" aria-hidden="true"></i>
                        <div class="overlay">
                            <h2>Current Partners</h2>
                            <a class="info" href="/partners">link here</a>
                        </div>
                    </div> -->
                </div>

            </div>
            <!--
            <div class="row" style="margin-top:-100px;">
            <div class="well" style="text-align:center;background-color:white;border:none;">&nbsp;</div>
            -->
            <div class="row" style="text-align:center;">
                <div class="col-sm-12">
                    <h4>Why be an ICRP Partner</h4>

                    <p>ICRP enables senior representatives of cancer research funding organizations to connect, network and collaborate to enhance global cancer research.  As an ICRP Partner organization, users can access a special Partner site and perform funding searches, as well as access charting and additional tools to conduct (pooled) data analyses. Learn more about <a href="/become-a-partner">becoming a partner</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>