
    <div class="row">
        <div class="col-sm-4">
            <div class="text-center visible-xs">
                <span class="footer-date">Partner Data Uploaded: August 05, 2016</span>
            </div>
            <div class="text-left hidden-xs">
                <span class="footer-date">Partner Data Uploaded: August 05, 2016</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="text-center">
                <nav class="navbar nav-footer-middle text-center">
                    <ul class="nav navbar-nav">
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/become-a-partner">Join Us</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </nav>
                <!--
                <ul class="menu nav center-nav">
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="yamlform/contact" title="Contact Us" href="/contact-us">Contact Us</a>
                    </li>
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="yamlform/contact" title="Contact Us" href="/contact-us">Second link</a>
                    </li>
                </ul>
                -->
            </div>
        </div>
        <div class="col-sm-4">
            <div class="text-center visible-xs">
                <span class="footer-date">Page Updated: July 06, 2016</span>
            </div>
            <div class="text-right hidden-xs">
                <span class="footer-date">Page Updated: July 06, 2016</span>
            </div>
        </div>
    </div>
