<div id="newsletter-container">
	<div class="row">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
		</span>
		<span class="aside-title"><a href="/calendar">Next ICRP Meeting</a></span>
	</div>
	<p>{{ drupal_view('next_icrp_meeting_view', 'block_next_event') }}</p>
</div>