<h1>Welcome ICRP Partner</h1>
<p>Hello Partner!!!</p>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#welcome">Welcome</a></li>
    <li><a data-toggle="tab" href="#getting-started">Getting Started</a></li>
    <li><a data-toggle="tab" href="#partner-calendar">Partner Calendar</a></li>
    <li><a data-toggle="tab" href="#partner-management">Project Management</a></li>
</ul>

<div class="tab-content partner-content">
    <div id="welcome" class="tab-pane fade in active">
        <h3 style="margin-top:0px;">Welcome</h3>
        <p>Welcome content.</p>
    </div>
    <div id="getting-started" class="tab-pane fade">
        <h3 style="margin-top:0px;">Getting Started</h3>
        <p>Getting Started content</p>
    </div>
    <div id="partner-calendar" class="tab-pane fade">
        <h3 style="margin-top:0px;">Partner Calendar</h3>
        <p>Partner Calendar content</p>
    </div>
    <div id="partner-management" class="tab-pane fade">
        <h3 style="margin-top:0px;">Partner Management</h3>
        <p>Partner Management content</p>
    </div>
</div>
