<div id="newsletter-container">
	<div style="display: flex; align-items: center;">
		<i style="color: #3371a8; width: 32px; height: 32px; margin: 0 4px 0 -8px;" class="fas fa-calendar-alt" data-fa-transform="shrink-8" data-fa-mask="fas fa-circle"></i>

		<span class="aside-title"><a href="/calendar">Next ICRP Meeting</a></span>
	</div>
	<p>{{ drupal_view('next_icrp_meeting_view', 'block_next_event') }}</p>
</div>