<!-- Anonymous User Nav -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="#anonymous-navbar" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--
                <a class="navbar-brand" href="#">Hello</a>
             -->
        </div>

        <div class="collapse navbar-collapse" id="anonymous-navbar">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="/about-us" title="Our People">About Us</a></li>
                <li class="dropdown"><a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">ICRP Data </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/db_search" title="Search and analyze the ICRP Database">Search Database</a></li>
                        <li><a href="/cso" title="Common Scientific Outline">Common Scientific Outline (CSO)</a></li>
                    </ul>
                </li>
                <li><a href="/map" title="ICRP Map">ICRP Map</a></li>
                <li class="dropdown"><a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Join ICRP </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/become-a-partner" title="Become an ICRP partner">Become a Partner</a></li>
                        <li class="divider">&nbsp;</li>
                        <li><a href="/partner-application" title="Application to become an ICRP Partner">Partner Application</a></li>
                        <li><a href="/user/register" title="User registration">User Registration</a></li>
                        <li class="divider">&nbsp;</li>
                        <li><a href="/partners" title="List of ICRP Partners and Funding Organizations">ICRP Partners and Funding Organizations</a></li>
                    </ul>
                </li>
                <li><a href="/library" title="ICRP Library">Library</a></li>
            </ul>
            <!--
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                  </ul>
                  --></div>
    </div>
</nav>
