<div class="container" style="width:100%;">
    <div class="row">
        <div class="col-sm-3">
            <nav class="contextual-region" id="block-footerleft" aria-labelledby="block-footerleft-menu" role="navigation">

                <h2 id="block-footerleft-menu">ICRP</h2>
                <div data-contextual-id="block:block=footerleft:langcode=en|menu:menu=footer-left:langcode=en" class="contextual" role="form"><button type="button" class="trigger focusable visually-hidden" aria-pressed="false">Open ICRP configuration options</button>

                    <ul hidden="" class="contextual-links"><li class="block-configure"><a href="/admin/structure/block/manage/footerleft?destination=node/2">Configure block</a></li><li class="entitymenuedit-form"><a href="/admin/structure/menu/manage/footer-left?destination=node/2">Edit menu</a></li></ul>

                </div>
                <ul class="menu nav">
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="node/19" title="Become an ICRP partner" href="/become-a-partner">Become a Partner</a>
                    </li>
                    <li class="expanded dropdown">
                        <a title="Apply for a Partnership" href="/apply-for-partnership">Apply for Partnership</a>
                    </li>
                </ul>
           </nav>
        </div>
        <div class="col-sm-6">
            <nav class="contextual-region" id="block-footermiddle" aria-labelledby="block-footermiddle-menu" role="navigation">

                <h2 id="block-footermiddle-menu" class="visually-hidden">Footer Middle</h2>
                <div data-contextual-id="block:block=footermiddle:langcode=en|menu:menu=footer-middle:langcode=en" class="contextual" role="form"><button type="button" class="trigger focusable visually-hidden" aria-pressed="false">Open Footer Middle configuration options</button>
                    <ul hidden="" class="contextual-links"><li class="block-configure"><a href="/admin/structure/block/manage/footermiddle?destination=node/12">Configure block</a></li><li class="entitymenuedit-form"><a href="/admin/structure/menu/manage/footer-middle?destination=node/12">Edit menu</a></li></ul>

                </div>
                <ul class="menu nav">
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="node/6" title="About Us" href="/about-us">About Us</a>
                    </li>
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="yamlform/contact" title="Contact Us" href="/contact-us">Contact Us</a>
                    </li>
                    <li class="expanded dropdown">
                        <a title="ICRP Partnership Tweets" href="https://twitter.com/icrpartners1" class="ext" target="_blank">Twitter</a>
                    </li>
                    <li class="expanded dropdown">
                        <a title="Terms and Conditions" href="/terms-and-conditions">Terms and Conditions</a>
                    </li>
                    <li class="expanded dropdown">
                        <a title="Privacy Statement" href="/privacy">Privacy</a>
                    </li>
                    <li class="expanded dropdown">
                        <a title="Copyright" href="/copyright">Copyright</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-3">
            <nav class="contextual-region" id="block-footerright" aria-labelledby="block-footerright-menu" role="navigation">

                <h2 id="block-footerright-menu">Quick Links</h2>
                <div data-contextual-id="block:block=footerright:langcode=en|menu:menu=footer-right:langcode=en" class="contextual" role="form"><button type="button" class="trigger focusable visually-hidden" aria-pressed="false">Open Quick Links configuration options</button>
                    <ul hidden="" class="contextual-links"><li class="block-configure"><a href="/admin/structure/block/manage/footerright?destination=node/12">Configure block</a></li><li class="entitymenuedit-form"><a href="/admin/structure/menu/manage/footer-right?destination=node/12">Edit menu</a></li></ul>
                </div>
                <ul class="menu nav">
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="node/35" title="Current Partners" href="/current-partners">Current Partners</a>
                    </li>
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="faq" title="Frequently Asked Questions" href="/faq">FAQ</a>
                    </li>
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="sitemap" title="Sitemap" href="/sitemap">Site Map</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
