<div class="container" style="width:100%;">
    <div class="row">
        <div class="col-sm-12">
            <nav class="contextual-region" id="block-footermiddle" aria-labelledby="block-footermiddle-menu" role="navigation">

                <h2 id="block-footermiddle-menu" class="visually-hidden">Footer Middle</h2>
                <div data-contextual-id="block:block=footermiddle:langcode=en|menu:menu=footer-middle:langcode=en" class="contextual" role="form"><button type="button" class="trigger focusable visually-hidden" aria-pressed="false">Open Footer Middle configuration options</button>
                    <ul hidden="" class="contextual-links"><li class="block-configure"><a href="/admin/structure/block/manage/footermiddle?destination=node/12">Configure block</a></li><li class="entitymenuedit-form"><a href="/admin/structure/menu/manage/footer-middle?destination=node/12">Edit menu</a></li></ul>

                </div>
                <div class="text-center">
                <ul class="menu nav">
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="yamlform/contact" title="Contact Us" href="/contact-us">Contact Us</a>
                    </li>
                </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
