
    <div class="row">
        <div class="col-sm-4">
            <div class="text-center visible-xs">
                <ul class="menu nav">
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="yamlform/contact" title="Contact Us" href="/contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="text-left hidden-xs">
                <ul class="menu nav">
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="yamlform/contact" title="Contact Us" href="/contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="text-center">
                <ul class="menu nav center-nav">
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="yamlform/contact" title="Contact Us" href="/contact-us">Contact Us</a>
                    </li>
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="yamlform/contact" title="Contact Us" href="/contact-us">Second link</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="text-center visible-xs">
                <ul class="menu nav">
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="yamlform/contact" title="Contact Us" href="/contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="text-right hidden-xs">
                <ul class="menu nav">
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="yamlform/contact" title="Contact Us" href="/contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class = "container" style = "padding: 40px;">
            <div class = "row visible-on">

                <div class = "col-xs-6 col-sm-3" style = "background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">

                    <span class = "hidden-xs">Extra small</span>
                    <span class = "visible-xs">✔ Visible on x-small</span>
                </div>

                <div class = "col-xs-6 col-sm-3" style = "background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">

                    <span class = "hidden-sm">Small</span>
                    <span class = "visible-sm">✔ Visible on small</span>
                </div>

                <div class = "clearfix visible-xs"></div>

                <div class = "col-xs-6 col-sm-3" style = "background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">

                    <span class = "hidden-md">Medium</span>
                    <span class = "visible-md">✔ Visible on medium</span>
                </div>

                <div class = "col-xs-6 col-sm-3" style = "background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">

                    <span class = "hidden-lg">Large</span>
                    <span class = "visible-lg">✔ Visible on large</span>
                </div>

            </div>
        </div>
    </div>

