<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <nav class="contextual-region" id="block-footerleft" aria-labelledby="block-footerleft-menu" role="navigation">

                <h2 id="block-footerleft-menu">ICRP</h2>
                <div data-contextual-id="block:block=footerleft:langcode=en|menu:menu=footer-left:langcode=en" class="contextual" role="form"><button type="button" class="trigger focusable visually-hidden" aria-pressed="false">Open ICRP configuration options</button>

                    <ul hidden="" class="contextual-links"><li class="block-configure"><a href="/admin/structure/block/manage/footerleft?destination=node/2">Configure block</a></li><li class="entitymenuedit-form"><a href="/admin/structure/menu/manage/footer-left?destination=node/2">Edit menu</a></li></ul>

                </div>
                <ul class="menu nav">
                    <li class="expanded dropdown">
                        <a data-drupal-link-system-path="node/19" title="Become an ICRP partner" href="/become-a-partner">Become a Partner</a>
                    </li>
                    <li class="expanded dropdown">
                        <a title="Apply for a Partnership" href="/apply-for-partnership">Apply for Partnership</a>
                    </li>
                </ul>
           </nav>



        </div>
        <div class="col-sm-4">Middle (getting real)</div>
        <div class="col-sm-4">Right</div>
    </div>
</div>
