#layer-map-legend {
  background-color: #f5f5f5;
  margin-left: 26px;
  padding: 10px;  
}

#layer-map-legend > h3 {
  margin: 0px 0px .5em;
}

#layer-map-legend > div {
  margin: 5px 0px;
}

#layer-map-legend > div > span:first-child {
  border: 1px solid #999;
  display: inline-block;
  margin-right: 5px;
  opacity: 0.7;
  width: 3em;
}

#layer-map-legend > div > span.selected:first-child {
  border-color: #000;
}

#layer-map-legend > *:last-child {
  font-size: 1.3em;
  padding-top: 5px;
}

#layer-map-select {
  line-height: 32px;
  padding-right: 2px;
}

#layer-map-select span {
  color: #FFF;
  font-size: 20px;
  margin-top: 2px;
  padding-right: 0.5em;
}

#layer-map-select select {
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  vertical-align: top;
}
