div.project-collaborators-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

div.project-collaborators-header h5 {
  margin:2px 0px;
  margin-top:2px !important;
}

div.project-collaborators-header a {
  cursor:pointer;
}

table.project-collaborators {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

table.project-collaborators > thead > tr > th {
  background-color: #EEE;
}

table.project-collaborators > thead > tr > th,
table.project-collaborators > tbody > tr > td {
  padding: 4px;
  white-space: nowrap;
  border: 1px solid #999;
}

table.project-collaborators > thead > tr > th.limited-width,
table.project-collaborators > tbody > tr > td.limited-width {
  max-width: 250px;
  overflow-x: hidden;
}

table.project-collaborators > tbody > tr:hover {
  background-color: #FAFAFA;
}

table.project-collaborators:not(.showall) > tbody > tr:nth-child(5) ~ tr {
  display: none;
}

#icrp-map-header a {
  line-height: 24px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}
