label {
  margin-bottom: 0;
  margin-top: 10px;
}

.form-control {
  margin-bottom: 5px;
}

.radio-label {
  font-weight: normal;
  margin: 2px;
}

.multiselect {
  max-height: 300px;
  overflow: auto;

  border: 1px solid #CCC;
  padding: 4px;
}

.vertical-spacer {
  margin: 15px 0;
}
