
<div
  class="bordered"

  fxLayout="row"

  fxLayoutAlign="start center"
  fxLayoutGap="15px"
>

  <!-- Select partner -->
  <div
    fxLayout
    fxLayoutAlign="start center"
  >

    <label for="partner">Partner</label>
    <select class="form-control">
      <option value="">Select a partner</option>
    </select>
  </div>

  <!-- Select member type (Partner or Associate) -->
  <div
    fxLayout
    fxLayoutAlign="start center"
  >
    <label for="memberType">Member Type</label>

      <label>
        <input type="radio" name="memberType" value="partner">
        Partner
      </label>

      <label>
        <input type="radio" name="memberType" value="associate">
        Associate
      </label>

  </div>
</div>

<div class="row">

    <!-- Enter name of funding organization -->
    <div class="col-md-6">A</div>

    <!-- Enter abbreviation for funding organization's name -->
    <div class="col-md-6">B</div>

    <!-- Select funding organization's name -->
    <div class="col-md-6">A</div>

    <!-- Enter funding organization's map coordinates (decimal longitude/latitude) -->
    <div class="col-md-6">B</div>

    <!-- Select funding organization's country -->
    <div class="col-md-6">A</div>

    <!-- Select funding organization's currency -->
    <div class="col-md-6">B</div>

    <!-- Optional: Enter a note for the funding organization -->
    <div class="col-md-12">A</div>

    <!-- Optional: Select if funding is annualized -->
    <div class="col-md-12">B</div>


</div>