.chart-type-selector {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px auto 20px;
  padding: 10px 40px;
  text-align: center;
}

.chart-type-selector label {
  font-weight: 500;
  margin-right: 40px;
  cursor: pointer;
}

.chart-type-selector input {
  margin-right: 5px;
}

.disabled, .disabled select {
  color: #888;
  cursor: not-allowed;
}
