.chart-type-selector {
  border: 1px solid #ddd;
  margin: 0px auto 20px;
  padding: 10px 40px;

  text-align: center;
  display: inline-block;

}

.chart-type-selector label {
  font-weight: 500;
  margin-right: 40px;
  cursor: pointer;
}

.chart-type-selector input {
  margin-right: 5px;
}

.disabled, .disabled select {
  color: #888;
  cursor: not-allowed;
}

.inline-block {
  display: inline-block
}

.chart-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 300px;
}

.chart-carousel-control {
  margin-top: 20px;
  padding: 6px;
  box-shadow: 0 1px 2px 1px #ccc;
  border-radius: 3px;
  cursor: pointer;
  background-color: #fefefe;
  animation: background-color 1s;
}

.chart-carousel-control:hover {
  box-shadow: 0 1px 3px 1px #ccc;
  background-color: white;
}