.chart-type-selector {
  border: 1px solid #ddd;
  margin: 0px auto 20px;
  padding: 10px 40px;

  text-align: center;
  display: inline-block;

}

.chart-type-selector label {
  font-weight: 500;
  margin-right: 40px;
  cursor: pointer;
}

.chart-type-selector input {
  margin-right: 5px;
}

.disabled, .disabled select {
  color: #888;
  cursor: not-allowed;
}

.inline-block {
  display: inline-block
}

.chart-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: fill;
  min-height: 300px;
}

.chart-carousel-control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0.7;
  cursor: pointer;
  min-width: 15px;
}


.chart-carousel-control:hover {
}