<div *ngIf="data && data.length > 0" class="table-pagination-container">
  <div class="pagination">
    Show
    <select #p (change)="pageSize = p.value; pageNumber = 1;">
      <option *ngFor="let size of pageSizes" [value]="size">
        {{size}}
      </option>
    </select>
    entries of {{ _data.length | number }}
  </div>

  <div>
    <pagination
      [boundaryLinks]="true"
      [totalItems]="data.length"
      (pageChanged)="pageNumber = $event.page"
      [maxSize]="5"
      [itemsPerPage]="pageSize"
      class="pagination-sm"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;">
    </pagination>
  </div>

  <ng-content class="pagination"></ng-content>

</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="noselect">
      <tr>
        <th *ngFor="let header of _headers"
          (click)="sort(header.value)">
          <div class="table-header">
            <span>{{ header.label }}</span>
            <span
              *ngIf="header.sortDirection !== 'none'"
              [ngClass]="{
                'rotate-45': header.sortDirection === 'asc',
                'rotate-225': header.sortDirection === 'desc'
              }">
              &#9700;
            </span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of _data; let i = index">
        <tr *ngIf="i >= pageSize * (pageNumber - 1)
          && i < pageSize * pageNumber">
          <td *ngFor="let header of _headers" [title]="row[header.value]">
            {{ row[header.value] }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

