<h1>Add Funding Organization</h1>
<div class="form-group">Select a Partner under which the funding organization should be created.</div>
<div class="container">
  <icrp-funding-organization-form></icrp-funding-organization-form>
</div>