<h1>Add / Edit Funding Organization</h1>
<div class="form-group">Select a Partner under which the funding organization should be created.</div>
<div class="container">
  <icrp-funding-organizations-form></icrp-funding-organizations-form>
</div>