<h1>Merge Institutions</h1>
<div class="container">
  <div class="form-group">Merge two institutions into one institution. All the PIs and collaborators who are currently under the old institution will be mapped to the new institution.</div>
  <icrp-merge-institutions-form>
    <em>Loading...</em>
  </icrp-merge-institutions-form>
</div>