<h1>Add / Edit Partner</h1>
<div class="container">
  <div class="form-group">Select a completed application to add as an ICRP partner or an existing partner to update.</div>
  <icrp-partners-form>
    <em>Loading...</em>
  </icrp-partners-form>
</div>