<div class="row">
  {% if content.sidebar_left %}
  <div class="col-sm-5">
    {{ content.sidebar_left }}
  </div>
  {% endif %}
  {% if content.sidebar_right %}
  <div class="col-sm-7">
    {{ content.sidebar_right }}
  </div>
  {% endif %}
</div>
