<div class="row">
  <div class="col-sm-4">
    <icrp-search-form #searchform
      [fields]="fields"
      (search)="search($event)">
    </icrp-search-form>
  </div>

  <div class="col-sm-8">
    <icrp-search-criteria-display
      [criteria]="state.displayParameters">
    </icrp-search-criteria-display>


    <br>

    <icrp-charts-panel
      [analytics]="analytics"
      [fields]="fields"
      (requestChart)="this.getAnalytics(searchID, [$event.type], $event.year)">
    </icrp-charts-panel>

    <br>


    <icrp-export-buttons-panel
      [authenticated]="sharedService.get('authenticated')">
    </icrp-export-buttons-panel>


    <div style="position: relative">
      <ui-overlay [active]="loading">
        <ui-spinner></ui-spinner>
        <br>Fetching Data
      </ui-overlay>

      <ui-table
        [headers]="headers"
        [data]="searchResults"
        [numResults]="numResults"
        [loading]="loading"
        (sort)="sortPaginate($event)"
        (paginate)="sortPaginate($event)"
        >
      </ui-table>

    </div>
  </div>
</div>
