h5.h5 {
  font-weight: bold;
  margin-bottom: 2px;
}

.margin-bottom {
  margin-bottom: 5px;
}

.margin-top {
  margin-top: 10px;
}

dl.dl-horizontal > dt {
  text-align: left;
}

dl.dl-horizontal > dd {
  margin-bottom: 4px;
}
