<ui-overlay [active]="state.loading && (!state.results || !state.results.length)" [fullscreen]="true">
  <ui-spinner></ui-spinner>
  <br>{{ loadingMessage }}

</ui-overlay>


<div class="row">
  <div class="col-sm-3">
    <icrp-search-form #searchform
      (search)="getSearchResults($event)"
      >
    </icrp-search-form>
  </div>

  <div class="col-sm-9">

    <icrp-search-summary-panel
      #summarypanel
      [displayParameters]="state.displayParameters"
      [projectCount]="state.projectCount"
      [relatedProjectCount]="state.relatedProjectCount"
      [loading]="state.loading"
      >
    </icrp-search-summary-panel>

    <br>

    <alert
      *ngIf="state.expiredSearchID"
      type="danger"
      dismissible="true">
      The saved search has expired. Search results are saved for 30 days, after which they will no longer be accessible.
    </alert>

    <div *ngIf="!state.loading && (!state.results || state.results.length === 0)">
      No results found
    </div>

    <div *ngIf="state.loading || state.results && state.results.length > 0">
      <icrp-charts-panel
        #chartspanel
        [analytics]="state.analytics"
        [fields]="fields"
        (requestChart)="this.getAnalytics(state.searchID, [$event.type], $event.year)">
      </icrp-charts-panel>

      <br>

      <div
        *ngIf="!state.loading"
        style="display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 2px;">
        <div style="display: flex">
          <div class="btn-group mr-5" dropdown>
            <button dropdownToggle type="button" class="btn btn-default btn-sm dropdown-toggle">
              {{ selectedTable }} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem">
                <a class="dropdown-item" href="#" (click)="selectTable('Projects')">Projects</a>
              </li>

              <li role="menuitem">
                <a class="dropdown-item" href="#"(click)="selectTable('Institutions')">Institutions</a>
              </li>
            </ul>
          </div>

          <icrp-export-buttons-panel
            *ngIf="state.results && state.results.length"
            [authenticated]="sharedService.get('authenticated')">
          </icrp-export-buttons-panel>
        </div>

        <a [href]="'/map/?sid=' + sharedService.get('searchID')">
          <strong><u>View ICRP Map</u></strong>
        </a>
      </div>

      <icrp-results-table-panel
        [loading]="state.loading"
        [results]="state.results"
        [numResults]="state.projectCount"
        (sortPaginate)="getSortedPaginatedResults($event)">
      </icrp-results-table-panel>
    </div>


  </div>
</div>
