<ui-overlay [active]="loading" [fullscreen]="true">
  <ui-spinner></ui-spinner>
  <br>{{ loadingMessage }}

</ui-overlay>

<alert *ngIf="showAlert" [type]="success ? 'success' : 'danger'" dismissible="true">
  {{success 
      ? "Congratulations! The selected partner data book has been successfully loaded into the production database."
      : "Internal error. The operation is aborted." 
  }}
</alert>


<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Sponsor Code</th>
      <th>Funding Years</th>
      <th>Type</th>
      <th>Workbook Received Date</th>
      <th>Note</th>
      <th *ngIf="sharedService.get('userRoles').indexOf('manager') !== -1">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of uploads">
      <td><a (click)="select.emit(row.data_upload_id)">{{ row.sponsor_code }}</a></td>
      <td>{{ row.funding_year }}</td>
      <td>{{ row.type }}</td>
      <td>{{ row.received_date }}</td>
      <td>{{ row.note }}</td>
      <td *ngIf="sharedService.get('userRoles').indexOf('manager') !== -1"><button class="btn btn-primary btn-xs" (click)="syncProd(row.data_upload_id)">Update Prod</button></td>
    </tr>
  </tbody>
</table>
