
<ui-overlay
  [active]="loading"
  [fullscreen]="true">
  <ui-spinner></ui-spinner>
  <div>Loading</div>
</ui-overlay>

<alert
  *ngFor="let alert of alerts"
  [type]="alert.type"
  [dismissible]="true">
  {{ alert.content }}
</alert>

<form
  class="bordered padded vertical-margins"
  [formGroup]="form"
  fxLayout
  fxLayout.lt-md="column"
  fxLayoutAlign="space-between center"
  fxLayoutAlign.lt-md="center space-between"
  fxLayoutGap="15px"
  novalidate>

  <div [class.has-error]="form.controls.file.dirty && form.controls.file.invalid">
    <label class="control-label" for="input-file">Institutions File (.csv)*</label>
    <input type="file" id="input-file" accept=".csv" formControlName="file" />

    <div
      class="help-block"
      *ngIf="form.controls.file.dirty && form.controls.file.errors?.required">
      A file is required.
    </div>

    <div
      class="help-block"
      *ngIf="form.controls.file.dirty && form.controls.file.errors?.pattern">
      The file provided must be of the correct type.
    </div>
  </div>

  <div>
    <button
      class="btn btn-default"
      [class.btn-primary]="form.valid && records?.length === 0"
      (click)="load()"
      [disabled]="!form.valid || records?.length > 0">
      Load
    </button>

    <button
      class="btn btn-default"
      (click)="reset()">
      Reset
    </button>
  </div>
</form>

<div
  class="form-group"
  [class.has-error]="hasInvalidRecords">
  <ui-table *ngIf="records?.length > 0"
    [headers]="headers"
    [data]="records">
    <div *ngIf="hasInvalidRecords && records?.length > 0">
      <button
        fxLayout
        fxLayoutAlign="space-between center"
        class="pull-right btn btn-default btn-xs"
        (click)="export()">
        <ui-icon type="desktop-download"></ui-icon>
        <div>Export</div>
      </button>
    </div>
  </ui-table>
</div>

<div class="text-center">
  <button
    class="btn btn-primary"
    (click)="import()"
    [disabled]="importDisabled">
    Import
  </button>

  <button
    class="btn btn-default"
    (click)="cancel()">
    Cancel
  </button>
</div>