label {
  margin-bottom: 0;
  margin-top: 10px;
}

.form-control {
  margin-bottom: 5px;
}

.radio-label {
  font-weight: normal;
  margin: 2px;
}

.multiselect {
  max-height: 300px;
  overflow: auto;

  border: 1px solid #CCC;
  padding: 4px;
}

.vertical-spacer {
  margin: 15px 0;
}

@media(min-width: 1201px) {
  .inline-controls {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  .inline-controls > label {
    margin: 5px 15px 5px 0px;
    white-space: nowrap;
    overflow: visible;
  }
}

@media(max-width: 1200px) {
  .inline-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .inline-controls > label {
    margin: 5px 0;
  }
  
}