<div id="library" class="tab-content">
  <header>
    <h2 style="color:orange;">ICRP Public Library</h2>
    <p>
      Please browse the sections below to find our analyses of global cancer research, newsletters, and
      other publications. Please note that you must have Adobe's Acrobat Reader to view many of these
      files. Get Adobe Acrobat Reader free by clicking <a href="">here</a>. To receive the ICRP newsletter
      by email please <a href="">Contact Us</a>.
    </p>
  </header>
  <div id="library-view" class="tab-pane active">
    <div id="library-search">
      <div class="searchbar">
        <div class="mockfloat">
          <div class="searchbox">
            <span class="mockwidth"><input type="search" name="library-keywords" placeholder="Keywords"/></span>
          </div>
        </div>
        <button class="btn btn-primary">Search</button>
      </div>
      <div class="browse">
        <h3>Browse</h3>
        <div id="library-tree"></div>
      </div>
    </div>
    <div id="library-display">
      <h3>Documents</h3>
      <div class="frame preview">
        <div class="item">
          <h4>ICRP Lung Cancer Overview 2016</h4>
          <img src="placeholder.jpg"/>
          <p>An overview of research investment in lung cancer in the ICRP portfolio.</p>
          <div><a href="">Download PDF</a></div>
        </div>
        <div class="item">
          <h4>ICRP Health Disparities Report 2016</h4>
          <img src="placeholder.jpg"/>
          <p>An overview of research investment in health disparities and inequities in the ICRP portfolio.</p>
          <div><a href="">Download PDF</a></div>
        </div>
        <div class="item">
          <h4>ICRP Childhood Cancer Analysis 2016</h4>
          <img src="placeholder.jpg"/>
          <p>An overview of research investment in cancers affecting children, adolescents and young adults in the ICRP portfolio.</p>
          <div><a href="">Download PDF</a></div>
        </div>
        <div class="item">
          <h4>ICRP 2016 Annual Meeting Report</h4>
          <img src="placeholder.jpg"/>
          <p>This report summarizes the ICRP's 2016 annual meeting on Health Disparities, hosted by the American Cancer Society.</p>
          <div><a href="">Download PDF</a></div>
        </div>
        <div class="item">
          <h4>ICRP Newsletter, November 2015</h4>
          <img src="placeholder.jpg"/>
          <p>Includes details on the launch of a new, more user-friendly version (V2) of the cancer classification system or Common Scientific Outline (CSO).</p>
          <div><a href="">Download PDF</a></div>
        </div>
        <div class="item">
          <h4>ICRP Translation Research Methodology (2015)</h4>
          <img src="placeholder.jpg"/>
          <p>This report details a robust and easy way to identify translational research awards and monitor trends in this area, using the ICRP's Common Scientific Outline (CSO).</p>
          <div><a href="">Download PDF</a></div>
        </div>
      </div>
    </div>
  </div>
  <div id="library-files" class="tab-pane">
    <div id="library-list">
      <div class="item">
        <span class="title">Evaluations</span>
        <span class="glyphicon glyphicon-edit"></span>
        <span class="glyphicon glyphicon-remove-circle"></span>
      </div>
      <div class="item">
        <span class="title">Strategic Plans</span>
        <span class="glyphicon glyphicon-edit"></span>
        <span class="glyphicon glyphicon-remove-circle"></span>
      </div>
      <div class="item">
        <span class="title">Annual Meetings</span>
        <span class="glyphicon glyphicon-edit"></span>
        <span class="glyphicon glyphicon-remove-circle"></span>
      </div>
      <div class="item">
        <span class="title">Teleconferences</span>
        <span class="glyphicon glyphicon-edit"></span>
        <span class="glyphicon glyphicon-remove-circle"></span>
      </div>
      <div class="item">
        <span class="title">Newsletters</span>
        <span class="glyphicon glyphicon-edit"></span>
        <span class="glyphicon glyphicon-remove-circle"></span>
      </div>
      <div class="item">
        <span class="title">Reports</span>
        <span class="glyphicon glyphicon-edit"></span>
        <span class="glyphicon glyphicon-remove-circle"></span>
      </div>
      <div class="item">
        <span class="title">Reports Using ICRP Data</span>
        <span class="glyphicon glyphicon-edit"></span>
        <span class="glyphicon glyphicon-remove-circle"></span>
      </div>
    </div>
    <div id="library-controls">
      <div>
        <a href="">
          <img src="file-add.png"/>
          <span>Upload new files</span>
        </a>
      </div>
      <div>
        <a href="">
          <img src="folder-add.png"/>
          <span>Create new folder</span>
        </a>
      </div>
      <div>
        <a href="">
          <img src="folder-archive.png"/>
          <span>Archived files</span>
        </a>
      </div>
    </div>
  </div>
  <div id="library-edit" class="tab-pane">
    <div id="library-parameters">
      <div>
        <label for="file" class="required">File</label>
        <input type="file" name="upload"/>
      </div>
      <div>
        <label for="title" class="required">Title</label>
        <input type="text" name="title"/>
      </div>
      <div>
        <label for="is_public">Public</label>
        <input type="checkbox" name="is_public"/>
      </div>
      <div>
        <label for="description" class="required">Description</label>
        <textarea name="description"></textarea>
      </div>
      <div>
        <label for="thumbnail" class="required">Thumbnail</label>
        <input type="file" name="thumbnail"/>
      </div>
    </div>
    <div id="library-upload">
      <button id="library-save">Save</button>
      <button id="library-cancel">Cancel</button>
    </div>
  </div>
</div>
