<div id="library" class="tab-content">
  <div id="library-view" class="tab-pane active">
    <header>
      <h1>Library</h1>
      <p>
        The ICRP publishes regular data analyses, newsletters and reports. Please use our library to find
        reports of interest to the cancer research community, news and announcements. Please note that you
        must have Adobe's Acrobat Reader to view many of these files. Get Adobe Acrobat Reader free by
        clicking <a href="https://get.adobe.com/reader/">here</a>. To receive the ICRP
        newsletter by email please <a href="../contact-us?type-of-issue=Sign%20Up%20for%20Newsletter">Contact Us</a>.
      </p>
    </header>
    <div id="library-view-table">
      <div id="library-search">
        <div class="searchbar input-group">
          <input type="search" name="library-keywords" placeholder="Keywords" class="form-control"/>
          <span class="input-group-btn">
            <button id="library-search-button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
        <div class="browse">
          <div class="browse-header">
            <h4>Category</h4>
            <div class="admin">
              <input type="checkbox" id="library-show-archives" name="show_archives"/>
              <label for="show_archives">Show Archives</label>
            </div>
          </div>
          <div id="library-tree"></div>
          <div id="library-management" class="admin">
            <a href="javascript:void(0);" id="library-create-root-folder" class="admin">Create Category</a>
            <a href="javascript:void(0);" id="library-edit-folder" class="admin">Edit Category</a>
          </div>
        </div>
      </div>
      <div id="library-display">
        <div>
          <div class="display-header">
            <span>Current Folder:</span>
            <span class="folder-name">None</span>
            <span>/ Total Documents:</span>
            <span class="document-count">0</span>
          </div>
          <div class="frame">
          </div>
        </div>
        <div id="library-management2" class="admin partner">
          <a href="javascript:void(0);" id="library-upload-file" class="admin partner">Upload New File</a>
          <a href="javascript:void(0);" id="library-create-folder" class="admin">Create Subfolder</a>
          <a href="javascript:void(0);" id="library-archive-folder" class="admin">Archive All Files</a>
        </div>
      </div>
    </div>
  </div>
  <div id="library-edit" class="tab-pane">
    <header>
      <h1>Upload File</h1>
    </header>
    <form>
      <div id="library-parameters">
        <input type="text" name="id_value" class="hide" value=""/>
        <div>
          <span class="required">Required</span>
        </div>
        <div class="folder">
          <label for="parent" class="required">Parent Folder</label>
          <select name="parent"></select>
        </div>
        <div>
          <label for="upload" class="required">File</label>
          <input type="text" name="display_name" class="hide"/>
          <input type="file" name="upload"/>
        </div>
        <div>
          <label for="thumbnail">Thumbnail</label>
          <span class="hide"></span>
          <input type="file" name="thumbnail"/>
        </div>
        <div class="folder">
          <label for="title" class="required">Title</label>
          <input type="text" name="title" maxlength="150"/>
        </div>
        <div>
          <label for="description" class="required">Description</label>
          <textarea name="description" maxlength="1000"></textarea>
        </div>
        <div class="folder">
          <label for="is_public">Public</label>
          <input type="checkbox" name="is_public" value="1"/>
        </div>
      </div>
      <div id="library-upload">
        <button id="library-save">Save</button>
        <button id="library-cancel">Cancel</button>
      </div>
    </form>
  </div>
</div>
