/* You can add global styles to this file, and also import other style files */

sm-accordion .title {
    background-color: #F2F2F2 !important;
}

sm-accordion .title:hover {
    background-color: #F5F5F5 !important;
}


sm-checkbox > div {
    margin: 0 !important;
    margin-bottom: 3px !important;
    margin-top: 3px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    margin-right: 5px !important;
}

.ui.form .field>label {
    color: #666 !important;
}

.ui-datatable-tablewrapper > table {
    border: 1px solid #EFEFEF;
    font-size: 12.5px;
    width: 100%;
}

.ui-datatable-tablewrapper > table > thead > tr > th {
    background-color: #1e77ba;
    color: white !important;
    padding: 5px 7px 3px !important;
    /*

    background-color: #EEE;
    border-right: 1px solid #CCC;

*/
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.ui-datatable-tablewrapper > table > tbody > tr {
    border-bottom: 1px solid #EFEFEF;
}


.ui-datatable-tablewrapper > table > thead > tr > th,
.ui-datatable-tablewrapper > table > tbody > tr > td {
    padding: 3px 7px;
    color: #555;
    border-right: 1px solid #EEE;

    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
}

.ui-datatable-tablewrapper > table > tbody > tr:nth-child(2n+0) {
    background-color: #ebeff7;
}

.ui-datatable-tablewrapper > table > tbody > tr:hover {
    background-color: #dde4f2;
}

.ui-paginator {
    color: #555 !important;
    margin: 6px 0;
}

.ui-paginator-element {
    font-size: 13px !important;
    padding: 4px;
}

.ui-paginator-element a {
    color: #555;
    
}