/* You can add global styles to this file, and also import other style files */

sm-accordion .title {
    background-color: #F2F2F2 !important;
}

sm-accordion .title:hover {
    background-color: #F5F5F5 !important;
}


sm-checkbox > div {
    margin: 0 !important;
    margin-bottom: 3px !important;
    margin-top: 3px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    margin-right: 5px !important;
}

.ui.form .field>label {
    color: #666 !important;
}

.ui-datatable-tablewrapper > table {
    border: 1px solid #EFEFEF  !important;;
    font-size: 12.5px  !important;;
    width: 100%  !important;;
}

.ui-datatable-tablewrapper > table > thead > tr > th {
    background-color: #1e77ba  !important;;
    color: white !important;
    padding: 5px 7px 3px !important;
    /*

    background-color: #EEE;
    border-right: 1px solid #CCC;

*/
    cursor: pointer  !important;;
    white-space: nowrap  !important;;
    overflow: hidden  !important;;
}

.ui-datatable-tablewrapper > table > tbody > tr {
    border-bottom: 1px solid #EFEFEF  !important;;
}


.ui-datatable-tablewrapper > table > thead > tr > th,
.ui-datatable-tablewrapper > table > tbody > tr > td {
    padding: 3px 7px  !important;;
    color: #555  !important;;
    border-right: 1px solid #EEE  !important;;

    white-space: nowrap  !important;;
    overflow: hidden  !important;;
    max-width: 400px  !important;;
}

.ui-datatable-tablewrapper > table > tbody > tr:nth-child(2n+0) {
    background-color: #ebeff7  !important;;
}

.ui-datatable-tablewrapper > table > tbody > tr:hover {
    background-color: #dde4f2  !important;;
}

.ui-paginator {
    color: #555 !important;
    background-color: white !important;
    margin: 6px 0  !important;;
}

.ui-paginator-element {
    font-size: 13px !important;
    padding: 4px !important;
}

.ui-paginator-element a {
    color: #555 !important;
    
}

.ui-widget-header {
    border: none !important;
    background-color: white !important;

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background-color: white !important;
    border: none !important;

}

a.ui-paginator-page.ui-paginator-element.ui-state-default.ui-corner-all.ui-state-active {
    background-color: #1e77ba !important;
    color: white !important;
}

p-datatable > div > div > table > thead > tr > th {
    color: white !important;
}

.ui-datatable-tablewrapper > table > thead > tr > th {
    color: white !important;
}