

<icrp-summary-panel>
  <div left-header>
    <span *ngIf="currentSponsor else loading" class="bold orange">
      Data Upload for Funding Sponsor {{ currentSponsor && currentSponsor.sponsor_code }},
      Funding Years {{ currentSponsor && currentSponsor.funding_year }}
      {{ currentSponsor.type && '(' + currentSponsor.type + ')' }}
    </span>
  </div>
  <div right-header class="bold blue" >
    <div *ngIf="numResults && analytics.project_counts_by_country && analytics.project_counts_by_country.total">
      <span tooltip="Parent projects">
        Total Projects: {{ numResults.toLocaleString() }}
      </span>

      <span *ngIf="analytics.project_counts_by_country && analytics.project_counts_by_country.total" tooltip="Including linked sub-projects or supplements">
        / Total Related Projects: {{ analytics.project_counts_by_country && analytics.project_counts_by_country.total.toLocaleString() }}
      </span>
    </div>
  </div>
  <div *ngIf="currentSponsor">

    <span [ngSwitch]="currentSponsor.type">
      <label *ngSwitchCase="'NEW'">
        Summary counts of new projects and associated records loaded to ICRP staging
      </label>
      <label *ngSwitchCase="'UPDATE'">
        Summary counts of existing projects and associated records updated in ICRP staging
      </label>
    </span>

    <ul>
      <li *ngFor="let key of keys">
        {{ mapKeys[key] }}: {{ currentSponsor.counts[key] }}
      </li>
    </ul>
  </div>
</icrp-summary-panel>
