
.ui-panel-header {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #eee;
  color: #aaa;
  cursor: pointer;
}

.ui-panel-header:hover {
  color: #666 !important;
}

.ui-panel-content {
  padding: 10px;
  font-size: 13px;
  border: 1px solid #eee;
  border-top: none;
  margin-top: -2px;
}
