<h1>Import Collaborators</h1>

<div class="bordered padded form-group responsive-form">
  <div>
    <label>Collaborator File (.csv)*</label>
    <input type="file" id="input-file" accept=".csv" />
  </div>
  <div>
    <button id="load" class="btn btn-default">Load</button>
    <button id="reset" class="btn btn-primary">Reset</button>
  </div>
</div>

<div id="status-alert" class="alert alert-dismissible" role="alert">
  <button type="button" class="close" data-hide="#status-alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <div id="status-message"></div>
</div>