

.treeview-label {
    margin-bottom: 0 !important;
    font-weight: normal !important;
}


/*
.ui-treeview-container {
    margin: 0;
    padding: 0;
}

label.ui-treeview-label {
    font-weight: normal;
    cursor: pointer;
}

label.title.ui-treeview-label {
    font-weight: bold;
}

.toggle-children {
    display: inline-block; 
    font-weight: normal; 
    cursor: pointer;
    color: #AAA;
}

.treeview-item-selected {
    background-color: #EEE;
}


.treeview-item-deselected {
    background-color: white;
}
*/


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.noevents {
    pointer-events: none;
}