<h1>ICRP Map</h1>
<div class="form-group">
Click on the map below to find out more about global cancer research projects and collaborations. Refer to the <a href="{{ logged_in ? '/library/file/7278/ICRPUserGuide_Partner.pdf' : '/library/file/7277/ICRPUserGuide_Public.pdf'}}" target="_blank">website user guide</a> for further information or <a href="/contact-us?type-of-issue=Data Issue" target="_blank">contact us</a> if you have any questions.
</div>

<div id="icrp-map"></div>
<script>
  var db_layer_map = {
    layers: {{layers|json_encode|raw}}
  };
</script>
