th {
  cursor: pointer;
}

.table {
  margin-bottom: 0;
}


.table > thead > tr > th:nth-child(1),
.table > tbody > tr > td:nth-child(1) {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}


.table > thead > tr > th:nth-child(2) {
  max-width: 200px;
}


.table > thead > tr > th:nth-child(3),
.table > tbody > tr > td:nth-child(3) {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}


.table > thead > tr > th:nth-child(4) {
  max-width: 200px;
}


.table > thead > tr > th:nth-child(5) {
  max-width: 200px;
}

.table > thead > tr > th:nth-child(6) {
  max-width: 200px;
}
