th {
  cursor: pointer;
}

.table {
  margin-bottom: 0;
}


.table > thead > tr > th:nth-child(1) {
  max-width: 200px;
}


.table > thead > tr > th:nth-child(2) {
  max-width: 200px;
}


.table > thead > tr > th:nth-child(3) {
  max-width: 200px;
}


.table > thead > tr > th:nth-child(4) {
  max-width: 200px;
}


.table > thead > tr > th:nth-child(5) {
  max-width: 200px;
}

.table > thead > tr > th:nth-child(6) {
  max-width: 200px;
}
