input[type="radio"] {
  vertical-align: -2px;
}

input[type="checkbox"] {
  vertical-align: -2px;
}


.native-font {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-size: 14px;
  color: #444;
}

.input {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 6px;
  
  border: 1px solid #D1D1D1;
  background-color: white;
  border-radius: 2px;
  box-sizing: border-box;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */ /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

label {
  color: #666;
}

.input.text:focus {
  outline: none;
  box-shadow: 0 0 3px #BBB;
}

input:-ms-input-placeholder { /* Edge */
    color: #AAA !important;
    font-weight: 400;
}

.tooltip-inner {
  opacity: 0.85 !important;
  border: 1px solid #DDD !important;
  background-color: #FFF !important;
  color: #555 !important;

  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif !important;
}


.tooltip.left .tooltip-arrow {
  border-left-color: #CCC !important;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #CCC !important;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #CCC !important;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #CCC !important;
}


/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*
 * Bootstrap table overrides
 */

table.table-responsive {
  margin-bottom: 15px;
}

table.table-responsive > table.table {
  margin-bottom: 0;
}

table.table {
  border-collapse: collapse !important;
}

table.table > thead > tr > th {
  background-color: #f5f5f5;
}

table.table-bordered {
  border: 1px solid #ababab;
}

table.table-bordered > thead > tr > th,
table.table-bordered > tbody > tr > th,
table.table-bordered > tfoot > tr > th,
table.table-bordered > thead > tr > td,
table.table-bordered > tbody > tr > td,
table.table-bordered > tfoot > tr > td {
  border: 1px solid #ababab;
}

table.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}

table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #fbfbfb;
}

table.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

table.table-nowrap > thead > tr > th,
table.table-nowrap > tbody > tr > th,
table.table-nowrap > tfoot > tr > th,
table.table-nowrap > thead > tr > td,
table.table-nowrap > tbody > tr > td,
table.table-nowrap > tfoot > tr > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


table.table-narrow > thead > tr > th,
table.table-narrow > tbody > tr > th,
table.table-narrow > tfoot > tr > th,
table.table-narrow > thead > tr > td,
table.table-narrow > tbody > tr > td,
table.table-narrow > tfoot > tr > td {
  max-width: 320px;
}


/*
 * Bootstrap native font overrides
 */

html {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;

  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.tooltip {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.popover {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.btn {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

legend {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.input-group-addon {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.pagination {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.pager {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.label {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.badge {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

/*# sourceMappingURL=styles.bundle.map*/