.white-text {
  color: #C95D5D;
}

.bg-chevron {
  color: #F89406;
  font-weight: 500;
  font-size: 16px;
  padding: 2px 8px 2px 16px;
  background-color: #eee;
  margin: 2px 0px;
  min-height: 28px;
  max-height: 28px;
  display: flex;
  user-select: none;
}

.bg-chevron::after {
  display: inline-block;
  border-color: transparent transparent transparent #eee;
  border-style: solid;
  border-width: 14px 0 14px 10px;
  content: '';
  position: absolute;
  top: 2px;
  right: -10px;
  z-index: 9999;
}




span:nth-child(1) > .bg-chevron {
  padding: 2px 8px 2px 14px;
  background-color: #0678be;
  color: white;
}

span:nth-child(1) > .bg-chevron:after {
  border-color: transparent transparent transparent #0678be;
  cursor: default;
}


span:nth-child(2) > .bg-chevron {
  padding: 2px 8px 2px 14px;
  background-color: #065f97;
  color: white;
}

span:nth-child(2) > .bg-chevron:after {
  border-color: transparent transparent transparent #065f97;
  cursor: default;
}





span:last-child > .bg-chevron {
  padding: 2px 8px 2px 14px;
  background-color: #fff;
  color: #F89406;
}

span:last-child > .bg-chevron:after {
  border-color: transparent transparent transparent #fff;
  cursor: default;
}





.bg-chevron:hover{
  background-color: #fff;
  cursor: pointer;
}

.bg-chevron:hover:after {
  border-color: transparent transparent transparent #fff;
  cursor: pointer;
}