/* You can add global styles to this file, and also import other style files */

.bordered {
  border: 1px solid #ddd;
}

.padded {
  padding: 15px;
}

.responsive-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.display-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.responsive-form > div {
  margin: 5px 0px;
}

.pagination {
  margin: 2px 0;
}

.vertical-margins {
  margin: 5px 0;
}

@media (min-width: 768px) {
  .responsive-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .responsive-form > div {
    margin: 0;
  }

}