<h1>Search ICRP Database</h1>

<div class="form-group">
  This search page features a variety of criteria to allow the user to access and manipulate the data contained in the ICRP database. Users should be aware that data contained in the ICRP database is updated throughout the year, and due to differing data upload schedules, recent years may not yet include all partner and associate organizations’ data. <a _ngcontent-ory-45="" href="/contact-us?type-of-issue=Data Issue" target="_blank">Contact us</a> if you have any questions.
</div>

<icrp-root data-component-type="search">
  <div loading class="fullscreen-overlay">
    <div class="loading-text">Loading...</div>
  </div>
</icrp-root>