<h1>Data Review Tool</h1>

<icrp-root data-component-type="review">
  <div loading class="fullscreen-overlay">
    <div class="text-center">
      <svg version="2.0" class="spinner" width="25" height="25">
        <circle cx="12.5" cy="12.5" r="10" fill="transparent" stroke="#ccc" stroke-width="2.5" />
        <path fill="transparent" stroke="#666" stroke-width="2.5" d="M 12.5 2.5 a 10 10 0 0 1 10 10" />
      </svg>
      <br>
      Loading Page
    </div>
  </div>
</icrp-root>