ul {
    display: block;
    list-style-type: disc;
    margin-left: 0;
    margin-right: 0;
}

.title {
  padding: 6px 10px;
  border: 1px solid #ddd;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: linear-gradient(#fff,#efefef);
  cursor: pointer;
}

.content {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}