<ng-template #nocriteria>
  All projects are shown below. Use the form on the left to refine search results
</ng-template>

<ng-template #criteria>
  <i [ngClass]="{
    'glyphicon': true,
    'glyphicon-triangle-top': showCriteria,
    'glyphicon-triangle-bottom': !showCriteria
  }"></i>
  <b>Search Criteria:</b>
  {{ this.getCriteriaCategories() }}
</ng-template>

<ng-template #noadditionalcriteria>
  <i></i>
</ng-template>

<ng-template #additionalcriteria>
  {{ this.getAdditionalCriteria() }}
</ng-template>


<div class="title clearfix" (click)="showCriteria = !showCriteria;">
  <span class="pull-left" *ngIf="getCriteriaCategories(); then criteria else nocriteria"></span>

  <div class="pull-right">
    <span *ngIf="getAdditionalCriteria(); then additionalcriteria else noadditionalcriteria"></span>
  </div>
</div>

<div class="content" *ngIf="showCriteria && getCriteriaCategories()">
  <div *ngFor="let category of getCriteria()">
    <b>{{ category.label }}</b>
    <ul>
      <li *ngFor="let value of category.value">
        {{ value }}
      </li>
    </ul>
  </div>
  

</div>
