#library {
  padding: 0px 2em;
  margin: 0px auto;
  max-width: 100em;
}
#library header {
  margin-bottom: 2em;
}
#library-search {
  background: #eee;
  padding: 1em;
}
#library-search .mockfloat {
  margin-right: -6em;
  float: left;
  width: 100%;
}
#library-search .searchbox {
  background: #fff;
  border: 1px solid #000;
  border-radius: 1.5em;
  display: block;
  line-height: 2em;
  margin-right: 7em;
  padding: 6px 12px;
}
#library-search .searchbox:before {
  content: '\e003';
  float: left;
  font-family: 'Glyphicons Halflings';
  font-size: 1em;
  margin: 0px .25em;
  width: 1em;
}
#library-search .mockwidth {
  display: block;
  margin-left: 2em;
  overflow: hidden;
}
#library-search .searchbox input {
  border: none;
  outline: none;
  padding: 0px;
  width: 100%;
}
#library-search button {
  border-radius: 1.5em;
  display: inline;
  float: left;
  line-height: 2em;
  padding: 6px 12px;
  text-align: center;
  width: 6em;
}
#library-search .searchbar:after {
  border: 1px solid #000;
  border-width: 0px 0px 1px;
  clear: both;
  content: '';
  display: block;
  padding-bottom: 5px;
}
#library-search h3 {
  margin-top: 5px;
}
#library-search select {
  border-color: #000;
  width: 100%;
}
#library-display {
  padding: 1em 0px;
}
#library-display h3 {
  margin-top: 0px;
}
#library-display .frame {
  border: 1px solid black;
  max-height: 40em;
  overflow: auto;
  width: 100%;
}
#library-display .frame.preview {
  padding: 0px 1em;
}
#library-display .frame.preview .item {
  float: left;
  margin: 1em;
  overflow: hidden;
  position: relative;
  width: 30em;
}
#library-display .frame.preview .item h4 {
  background-color: #eee;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
#library-display .frame.preview .item img {
  float: left;
  margin-right: 1em;
  width: 10em;
}
#library-display .frame.preview .item p {
  margin-bottom: 2em;
  max-height: 10em;
  overflow: auto;
}
#library-display .frame.preview .item div {
  bottom: 0px;
  left: 11em;
  position: absolute;
  text-align: center;
  width: 19em;
}
#library-display .frame.preview .item:after {
  clear: both;
  content: '';
  display: block;
}
#library-display .frame:not(.preview) {
  border-collapse: seperate;
  border-spacing: 0px 5px;
  display: table;
}
#library-display .frame:not(.preview) .item {
  background: #eee;
  display: table-row;
}
#library-display .frame:not(.preview) .item h4,
#library-display .frame:not(.preview) .item div {
  display: table-cell;
  font-size: 1em;
  height: 1em;
  line-height: 1em;
  padding: 5px 10px;
}
#library-display .frame:not(.preview) .item img,
#library-display .frame:not(.preview) .item p {
  display: none;
}
@media (min-width: 900px) {
  #library-search {
    float: left;
    width: 20em;
  }
  #library-display {
    overflow: hidden;
    padding: 1em;
  }
}
