<div class="form-group native-font">
This search page features a variety of criteria to allow the user to access and manipulate the data contained in the ICRP database. Users should be aware that data contained in the ICRP database is updated throughout the year, and due to differing data upload schedules, recent years may not yet include all partner and associate organizations’ data. Contact us if you have any questions.
</div>

<div class="row native-font">
  <app-search></app-search>
</div>

