.bg-green {
    background-color: #2ECC71;
}

.bg-yellow {
    background-color: #F9BF3B;
}

.bg-grey {
    background-color: #ccc;
}

.bg-red {
    background-color: #e08283;
}

.w-400 {
    width: 400px;
}