
<div class="row form-group">
  <div class="col-md-3">
    <ui-chart
      type="pie"
      label="Projects by Country"
      primaryKey="count"
      [data]="analytics.project_counts_by_country && analytics.project_counts_by_country.results">
    </ui-chart>
  </div>

  <div class="col-md-3">
    <ui-chart
      type="pie"
      label="Projects by CSO"
      primaryKey="relevance"
      [data]="analytics.project_counts_by_cso_research_area && analytics.project_counts_by_cso_research_area.results">
    </ui-chart>
  </div>

  <div class="col-md-3">
    <ui-chart
      type="pie"
      label="Projects by Cancer Type"
      primaryKey="relevance"
      [data]="analytics.project_counts_by_cancer_type && analytics.project_counts_by_cancer_type.results">
    </ui-chart>
  </div>


  <div class="col-md-3">
    <ui-chart
      type="pie"
      label="Projects by Type"
      primaryKey="count"
      [data]="analytics.project_counts_by_type && analytics.project_counts_by_type.results">
    </ui-chart>
  </div>
</div>


<div class="form-group clearfix" *ngIf="sharedService.get('authenticated')">

  <div [hidden]="!showMore" class="clearfix">
    <ui-chart
      type="line"
      label="Project Funding Amounts by Year"
      primaryKey="amount"
      [data]="analytics.project_funding_amounts_by_year && analytics.project_funding_amounts_by_year.results">
    </ui-chart>

    <div class="pull-right" *ngIf="fields && fields.conversion_years">
      Use Currency Rates From
      <select #fundingyear (change)="requestChart.emit({
        type: 'project_funding_amounts_by_year',
        year: fundingyear.value
      })">
        <option *ngFor="let year of fields.conversion_years" [value]="year.value">{{ year.label }}</option>
      </select>
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-primary btn-xs text-center" (click)="showMore = !showMore">Show {{ showMore ? 'Less' : 'More' }}</button>
  </div>

</div>


