<form>
  <div class="form-group text-right">
    <button type="button" class="btn btn-default btn-sm">Clear</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="search()">Search</button>
  </div>

  <accordion [closeOthers]="false">
    <accordion-group [isOpen]="true" isDisabled="false">
      
        <div class="panel-heading" accordion-heading>
          Search terms
        </div>
      

      <div class="form-group" [tooltipPopupDelay]="500" tooltip="Return awards that contain the terms provided">
        <label for="keywords" class="sr-only">Keywords</label>
        <input type="text" class="form-control input-sm" id="keywords" placeholder="Enter search terms" #keywords>
      </div>

      <div class="form-group row small">
        <div class="col-md-6">
          <div class="radio"><label tooltip="Return awards that contain any of the provided keywords."><input type="radio" name="keyword-type"#any>Any of the words</label></div>
        </div>

        <div class="col-md-6">
          <div class="radio"><label tooltip="Return awards that do not contain any of the provided keywords."><input type="radio" name="keyword-type" #none>None of the words</label></div>
        </div>

        <div class="col-md-6">
          <div class="radio"><label tooltip="Return awards that contain the exact phrase provided."><input type="radio" name="keyword-type" #exact>Exact phrase</label></div>
        </div>

        <div class="col-md-6">
          <div class="radio"><label tooltip="Return awards that contain all of the provided keywords."><input type="radio" name="keyword-type" #all>All of the words</label></div>
        </div>
      </div>

      <div class="form-group" style="max-width: 200px" [tooltipPopupDelay]="500" tooltip="Calendar years in which the awards are active">
        <div class="row">
          <div class="col-md-3 less-padding"><label for="year" class="inline-label">Year</label></div>
          <div class="col-md-9 less-padding">
            <ng-select id="year" [items]="fields.years" [multiple]="true" placeholder="No year selected"></ng-select>
          </div>
        </div>
      </div>
    </accordion-group>

    <accordion-group [isOpen]="true" #institutionheading>
      
        <div class="panel-heading" accordion-heading>
          Institution Receiving Award
          <i class="pull-right glyphicon"
            [ngClass]="{'glyphicon-chevron-down': institutionheading?.isOpen, 'glyphicon-chevron-right': !institutionheading?.isOpen}"></i>
        </div>
      

      <div class="form-group">
        <label for="institution">Institution Name</label>
        <input type="text" class="form-control input-sm" id="institution" 
          placeholder="Full or partial name"
          tooltip="The host institution of the principle investigator"
          [tooltipPopupDelay]="500"
          #institution>
      </div>

      <div class="form-group" >
        <label for="piFirstName">Principal Investigator</label>
        <label for="piLastName" class="sr-only">Principal Investigator</label>

        <div class="row">
          <div class="col-md-6 less-padding">
            <input type="text" class="form-control input-sm" id="piFirstName" 
              placeholder="First name or initial"
              tooltip="All or part of the principal investigator's first name" 
              [tooltipPopupDelay]="500" 
              #piFirstName>
          </div>
          <div class="col-md-6 less-padding">
            <input type="text" class="form-control input-sm" id="piLastName" 
            placeholder="Last name" 
            tooltip="All or part of the principal investigator's last name" 
            [tooltipPopupDelay]="500" 
            #piLastName>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="piORCiD" class="inline-label">ORCID iD</label>
        <input type="text" class="form-control input-sm" id="piORCiD" 
          placeholder="nnnn-nnnn-nnnn-nnnn" 
          tooltip="ORCID is an open, non-profit, community-driven effort to create and maintain a registry of unique researcher identifiers and a transparent method of linking research activities and outputs to these identifiers. More information about ORCiD is available at their website: http://orcid.org."
          [tooltipPopupDelay]="500" 
          #piORCiD>
      </div>

      <div class="form-group">
        <label for="code" class="inline-label">Project Award Code</label>
        <input type="text" class="form-control input-sm" id="code" 
          placeholder="Project award code"
          tooltip="Project award code" 
          [tooltipPopupDelay]="500" 
          #code>
      </div>

      <div class="form-group">
        <label for="country" class="inline-label">Country</label>
        <div [tooltipPopupDelay]="500" tooltip="Select one or more countries">
          <ng-select id="countries" [items]="fields.countries" [multiple]="true" (data)="updateFilters('countries', $event)" placeholder="All countries selected"></ng-select>
        </div>
     </div>

      <div class="form-group">
        <label for="state" class="inline-label">State</label>
        <div [tooltipPopupDelay]="500" tooltip="Select one or more states">
         <ng-select id="states" [items]="fields.states" [multiple]="true" [disabled]="!fields.states.length || !filters.countries.length" (data)="updateFilters('states', $event)" placeholder="All states selected"></ng-select>
        </div>
     </div>

      <div class="form-group">
        <label for="city" class="inline-label">City</label>
        <div [tooltipPopupDelay]="500" tooltip="Select one or more cities">
          <ng-select id="cities" [items]="fields.cities" [multiple]="true" [disabled]="!fields.cities.length || !filters.countries.length" placeholder="All cities selected"></ng-select>
        </div>
     </div>

      <div class="form-group">
        <label for="currencies" class="inline-label">Currency Conversion</label>
        <div [tooltipPopupDelay]="500" tooltip="Select a currency conversion">
          <ng-select id="currencies" [items]="fields.currencies" [multiple]="true" (data)="updateFilters('currencies', $event)" placeholder="Select a currency conversion"></ng-select>
        </div>
      </div>
    </accordion-group>    

    <accordion-group #organizationheading>
      
        <div class="panel-heading" accordion-heading>
           Funding Organization
          <i class="pull-right glyphicon"
            [ngClass]="{'glyphicon-chevron-down': organizationheading?.isOpen, 'glyphicon-chevron-right': !organizationheading?.isOpen}"></i>

        </div>
      

      <label for="fundingOrganizations" class="sr-only">Funding Organizations</label>
      <select class="form-control input-sm" id="fundingOrganizations" size="20" multiple #fundingOrganizations  [tooltipPopupDelay]="500" tooltip="Available funding organizations organized by country.">
        <option>All Funding Organizations</option>
        <option *ngFor="let sponsor of fields.fundingOrgs">{{sponsor.text}}</option>
      </select>
    </accordion-group>

    <accordion-group #cancerprojectheading>
      <div class="panel-heading" accordion-heading>
          Cancer and Project Type
          <i class="pull-right glyphicon"
            [ngClass]="{'glyphicon-chevron-down': cancerprojectheading?.isOpen, 'glyphicon-chevron-right': !cancerprojectheading?.isOpen}"></i>

          
      </div>
        
      <div class="form-group">
        <label for="state" class="inline-label" >Cancer Type</label>
        <div [tooltipPopupDelay]="500" tooltip="Select one or more types of cancer">
          <ng-select id="cancerTypes" [items]="fields.cancerSites" [multiple]="true" placeholder="All Cancer Types"></ng-select>
        </div>
       </div>

      <div class="form-group">
        <label for="projectTypes" class="inline-label">Project Type</label>
        <div [tooltipPopupDelay]="500" tooltip="Select one or more project types">
          <ng-select id="projectTypes" [items]="fields.projectTypes" [multiple]="true" placeholder="All Project Types"></ng-select>
        </div>
      </div>

    </accordion-group>

    <accordion-group #csoheading>
      <div class="panel-heading" accordion-heading>
          Common Scientific Outline - Research Area
          <i class="pull-right glyphicon"
            [ngClass]="{'glyphicon-chevron-down': csoheading?.isOpen, 'glyphicon-chevron-right': !csoheading?.isOpen}"></i>
      </div>

      <div class="form-group">
        <label for="cso" class="sr-only">Common Scientific Outline - Research Area</label>
        <select class="form-control input-sm" id="cso" size="18" multiple #csoAreas [tooltipPopupDelay]="500" tooltip="Select one or more Common Scientific Outline (CSO) research areas">
          <option>All Areas</option>
          <option *ngFor="let csoArea of fields.csoAreas">{{csoArea.text}}</option>
        </select>
      </div>
    </accordion-group>
  </accordion>

  <br>

  <div class="form-group text-right">
    <button type="button" class="btn btn-default btn-sm">Clear</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="search()">Search</button>
  </div>
</form>

