

<form class="ui form" [formGroup]="form">
  <sm-accordion class="styled" [options]="{ exclusive: false, animateChildren: false }">
      <sm-accordion-item class="active">
          <accordion-title >Search Terms</accordion-title>
          <accordion-content>

            <div smDirTooltip="Search by project title (todo: full-text search)" >
              <sm-input icon="search" class="left" placeholder="Enter search terms" [control]="form.controls.search_keywords" ></sm-input>
            </div>

            <div class="field">
              <div class="grouped fields">
                <div smDirTooltip="Return awards that contain any of the provided keywords." smDirPosition="right center" class="less-padding">
                  <sm-checkbox label="Any of the words" [control]="form.controls.search_filter" type="radio" name="filter" value="any"></sm-checkbox>
                </div>
                <br>

                <div smDirTooltip="Return awards that do not contain any of the provided keywords." smDirPosition="right center" class="less-padding">
                  <sm-checkbox label="None of the words" [control]="form.controls.search_filter" type="radio" name="filter" value="none"></sm-checkbox>
                </div>
                <br>

                <div smDirTooltip="Return awards that contain all of the provided keywords." smDirPosition="right center" class="less-padding">
                  <sm-checkbox label="All of the words" [control]="form.controls.search_filter" type="radio" name="filter" value="all"></sm-checkbox>
                </div>
                <br>

                <div smDirTooltip="Return awards that contain the exact phrase provided." smDirPosition="right center" class="less-padding">
                  <sm-checkbox label="Exact phrase" [control]="form.controls.search_filter" type="radio" name="filter" value="exact"></sm-checkbox>
                </div>
                <br>
              </div>
            </div>

            <div class="field" smDirTooltip="Calendar years in which the awards are active">
              <sm-select
                label="Years Active"
                [options]="{direction: 'downward'}"
                [control]="form.controls.years"
                placeholder="Select years" 
                class="fluid search multiple">
                <option *ngFor="let year of fields.years">{{year}}</option>
              </sm-select>
            </div>
          </accordion-content>
      </sm-accordion-item>

      <sm-accordion-item>
          <accordion-title>Institution Receiving Award</accordion-title>
          <accordion-content>


            <div class="field" smDirTooltip="The host institution of the principle investigator">
              <sm-input label="Institution Name" class="left" placeholder="Full or partial name" [control]="form.controls.institution"></sm-input>
            </div>

            <div class="field">
              <label>Principal Investigator</label> 

              <div class="two fields">
                <div class="field" smDirTooltip="All or part of the principal investigator's first name">
                  <sm-input class="left" placeholder="First name or initial" [control]="form.controls.piFirstName"></sm-input>
                </div>
                <div class="field" smDirTooltip="All or part of the principal investigator's last name">
                  <sm-input class="left" placeholder="Last Name" [control]="form.controls.piLastName"></sm-input>
                </div>
              </div>
            </div>

            <div class="field" smDirTooltip="The principle investigator's ORCiD ID">
              <sm-input label="ORCiD ID" class="left" placeholder="nnnn-nnnn-nnnn-nnnn" [control]="form.controls.orcid"></sm-input>
            </div>
              
            <div class="field" smDirTooltip="Project award code">
              <sm-input label="Project Award Code" class="left" placeholder="Award Code" [control]="form.controls.awardCode"></sm-input>
            </div>

            <div class="field" smDirTooltip="Select one or more countries">
              <sm-select
                label="Country"
                [options]="{direction: 'downward'}"
                [control]="form.controls.countries"
                placeholder="Select countries" 
                (onChange)="updateFilters('countries', $event)"
                class="fluid search multiple">
                <option *ngFor="let country of fields.countries" value="{{country.id}}">{{country.text}}</option>
              </sm-select>
            </div>

            <div class="field" smDirTooltip="Select one or more states or territories">
              <sm-select
                label="State/Territory"
                [options]="{direction: 'downward'}"
                [control]="form.controls.states"
                placeholder="Select states/territories" 
                (onChange)="updateFilters('states', $event)"
                class="fluid search multiple">
                <option *ngFor="let state of fields.states" value="{{state.id}}">{{state.text}}</option>
              </sm-select>
            </div>

            <div class="field" smDirTooltip="Select one or more cities">
              <sm-select
                label="City"
                [options]="{direction: 'downward'}"
                [control]="form.controls.cities"
                placeholder="Select cities" 
                class="fluid search multiple">
                <option *ngFor="let city of fields.cities" value="{{city.id}}">{{city.text}}</option>
              </sm-select>
            </div>

            <div class="field"  smDirTooltip="Select a currency conversion">
              <sm-select
                label="Currency Conversion"
                [options]="{direction: 'downward'}"
                [control]="form.controls.currency"
                placeholder="Select currency conversion" 
                class="fluid search">
                <option *ngFor="let currency of fields.currencies" value="{{currency.id}}">{{currency.text}}</option>
              </sm-select>
            </div>


          </accordion-content>
      </sm-accordion-item>
      <sm-accordion-item>
          <accordion-title>Funding Organizations</accordion-title>
          <accordion-content>


            <div class="field">
              <select id="FundingOrg" multiple="multiple" name="FundingOrg" size="21" title="Available funding organizations organized by country&nbsp;">
                <option selected="selected" value="All">
                  All Funding Organizations
                </option>
                <option value="1,2,51,52,53,54,57,58,79,81,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,125,126,127,128,129,130,131,132,133,134,135,136">
                  All US organizations
                </option>
                <option value="1,125,96,106,87,105,94,98,97,85,86,92,90,91,93,95,101,103,102,84,83,89,88,100,99,104">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institutes of Health
                </option>
                <option value="2">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;U&nbsp; S&nbsp; Department of Defense, CDMRP
                </option>
                <option value="51">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;California Breast Cancer Research Program
                </option>
                <option value="52">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Susan G&nbsp; Komen for the Cure
                </option>
                <option value="53">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oncology Nursing Society Foundation
                </option>
                <option value="54">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;American Cancer Society
                </option>
                <option value="57">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Avon Foundation for Women
                </option>
                <option value="58">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pancreatic Cancer Action Network
                </option>
                <option value="79">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;American Institute for Cancer Research
                </option>
                <option value="81">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Pancreas Foundation
                </option>
                <option value="1,125,96,106,87,105,94,98,97,85,86,92,90,91,93,95,101,103,102,84,83,89,88,100,99,104">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institutes of Health
                </option>
                <option value="126">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coalition Against Childhood Cancer
                </option>
                <option value="127">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alex's Lemonade Stand Foundation
                </option>
                <option value="128">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bradens' Hope For Childhood Cancer
                </option>
                <option value="129">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Luck2Tuck
                </option>
                <option value="130">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Steven G Aya foundation
                </option>
                <option value="131">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Team Connor
                </option>
                <option value="132">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TayBandz
                </option>
                <option value="133">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CSCN Alliance
                </option>
                <option value="134">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sammy's Superheroes
                </option>
                <option value="135">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Pediatric Brain Tumor Foundation
                </option>
                <option value="136">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Noah's Light
                </option>
                <option value="1,125,96,106,87,105,94,98,97,85,86,92,90,91,93,95,101,103,102,84,83,89,88,100,99,104">
                  All US National Institutes of Health organizations
                </option>
                <option value="1">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Cancer Institute
                </option>
                <option value="125">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Center for Advancing Translational Sciences
                </option>
                <option value="96">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eunice Kennedy Shriver National Institute of Child Health and Human Development
                </option>
                <option value="106">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fogarty International Center
                </option>
                <option value="87">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Center for Complementary and Alternative Medicine
                </option>
                <option value="105">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Center for Research Resources
                </option>
                <option value="94">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Eye Institute
                </option>
                <option value="98">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Heart, Lung and Blood Institute
                </option>
                <option value="97">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Human Genome Research Institute
                </option>
                <option value="85">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute of Allergy and Infectious Diseases
                </option>
                <option value="86">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute of Arthritis and Musculoskeletal and Skin Diseases
                </option>
                <option value="92">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute of Biomedical Imaging and Bioengineering
                </option>
                <option value="90">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute of Dental and Craniofacial Research
                </option>
                <option value="91">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute of Diabetes and Digestive and Kidney Diseases
                </option>
                <option value="93">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute of Environmental Health Sciences
                </option>
                <option value="95">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute of General Medical Sciences
                </option>
                <option value="101">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute of Mental Health
                </option>
                <option value="103">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute of Neurological Disorders and Stroke
                </option>
                <option value="102">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute of Nursing Research
                </option>
                <option value="84">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute on Aging
                </option>
                <option value="83">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute on Alcohol Abuse and Alcoholism
                </option>
                <option value="89">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute on Deafness and Other Communication Disorders
                </option>
                <option value="88">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute on Drug Abuse
                </option>
                <option value="100">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Institute on Minority Health and Health Disparities
                </option>
                <option value="99">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Library of Medicine
                </option>
                <option value="104">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Office of the Director
                </option>
                <option value="127,128,129,130,131,132,133,134,135,136">
                  All CAC2 organizations
                </option>
                <option value="127">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alex's Lemonade Stand Foundation
                </option>
                <option value="128">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bradens' Hope For Childhood Cancer
                </option>
                <option value="129">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Luck2Tuck
                </option>
                <option value="130">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Steven G Aya foundation
                </option>
                <option value="131">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Team Connor
                </option>
                <option value="132">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TayBandz
                </option>
                <option value="133">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CSCN Alliance
                </option>
                <option value="134">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sammy's Superheroes
                </option>
                <option value="135">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Pediatric Brain Tumor Foundation
                </option>
                <option value="136">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Noah's Light
                </option>
                <option value="3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,55,76">
                  All UK NCRI organizations
                </option>
                <option value="3">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cancer Research UK
                </option>
                <option value="5">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Northern Ireland Health &amp; Social Care - R & D Office
                </option>
                <option value="6">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scottish Government Health Directorates - Chief Scientist Office
                </option>
                <option value="7">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welsh Assembly Government - Office of R &amp; D
                </option>
                <option value="8">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Association for International Cancer Research
                </option>
                <option value="9">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tenovus
                </option>
                <option value="10">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Biotechnology &amp; Biological Sciences Research Council
                </option>
                <option value="11">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medical Research Council
                </option>
                <option value="12">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Department of Health
                </option>
                <option value="13">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Marie Curie Cancer Care
                </option>
                <option value="14">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Macmillan Cancer Support
                </option>
                <option value="15">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yorkshire Cancer Research
                </option>
                <option value="16">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Breakthrough Breast Cancer
                </option>
                <option value="17">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leukaemia and Lymphoma Research
                </option>
                <option value="18">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Breast Cancer Campaign
                </option>
                <option value="19">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Roy Castle Lung Cancer Foundation
                </option>
                <option value="20">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wellcome Trust
                </option>
                <option value="21">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Economic and Social Research Council
                </option>
                <option value="55">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Children with CANCER UK
                </option>
                <option value="76">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prostate Cancer UK
                </option>
                <option value="22,23,25,26,27,28,29,30,31,32,33,34,35,37,38,39,40,41,42,43,44,78,108,109,110,111,113,114,115,116,117,118,119,120,121,122,123,137">
                  All CA organizations
                </option>
                <option value="22">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alberta Cancer Foundation
                </option>
                <option value="23">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alberta Innovates - Health Solutions
                </option>
                <option value="25">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Canadian Breast Cancer Foundation
                </option>
                <option value="26">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Canadian Breast Cancer Research Alliance
                </option>
                <option value="27">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Canadian Institutes of Health Research
                </option>
                <option value="28">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Canadian Prostate Cancer Research Initiative
                </option>
                <option value="29">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Canadian Tobacco Control Research Initiative
                </option>
                <option value="30">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CancerCare Manitoba
                </option>
                <option value="31">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cancer Care Nova Scotia
                </option>
                <option value="32">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cancer Care Ontario
                </option>
                <option value="33">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Foundation du cancer du sein du Québec / Quebec Breast Cancer Foundation
                </option>
                <option value="34">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fonds de la recherche du Québec – Santé
                </option>
                <option value="35">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Michael Smith Foundation for Health Research
                </option>
                <option value="37">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Research Council of Canada
                </option>
                <option value="38">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ontario Institute for Cancer Research
                </option>
                <option value="39">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saskatchewan Cancer Agency
                </option>
                <option value="40">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cancer Research Society
                </option>
                <option value="41">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Canadian Cancer Society
                </option>
                <option value="42">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Terry Fox Research Institute
                </option>
                <option value="43">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Genome Canada
                </option>
                <option value="44">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prostate Cancer Canada
                </option>
                <option value="78">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Canadian Partnership Against Cancer
                </option>
                <option value="108">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Brain Tumour Foundation of Canada
                </option>
                <option value="109">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C17 Research Network
                </option>
                <option value="110">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Canadian Association of Radiation Oncology
                </option>
                <option value="111">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Kidney Foundation of Canada
                </option>
                <option value="113">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Leukemia &amp; Lymphoma Society of Canada
                </option>
                <option value="114">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Research Manitoba
                </option>
                <option value="115">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Brunswick Health Research Foundation
                </option>
                <option value="116">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Newfoundland and Labrador Centre for Applied Health Research
                </option>
                <option value="117">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Natural Sciences and Engineering Research Council
                </option>
                <option value="118">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nova Scotia Health Research Foundation
                </option>
                <option value="119">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ovarian Cancer Canada
                </option>
                <option value="120">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pancreatic Cancer Canada
                </option>
                <option value="121">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pediatric Oncology Group of Ontario
                </option>
                <option value="122">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PROCURE
                </option>
                <option value="123">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saskatchewan Health Research Foundation
                </option>
                <option value="137">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Breast Cancer Society of Canada
                </option>
                <option value="70,71">
                  All FR organizations
                </option>
                <option value="70">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Institut National du Cancer
                </option>
                <option value="71">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DGOS-Ministère de la Santé
                </option>
                <option value="56">
                  All NL organizations
                </option>
                <option value="56">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KWF Kankerbestrijding / Dutch Cancer Society
                </option>
                <option value="82,138">
                  All AU organizations
                </option>
                <option value="82">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Breast Cancer Foundation
                </option>
                <option value="138">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cancer Australia
                </option>
                <option value="107">
                  All JP organizations
                </option>
                <option value="107">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Cancer Center, Japan
                </option>
              </select>
            </div>
          </accordion-content>
      </sm-accordion-item>

      <sm-accordion-item>
          <accordion-title>Cancer and Project Type</accordion-title>

          <accordion-content>


            <div class="field" smDirTooltip="Select one or more types of cancer">
              <sm-select
                label="Cancer Type"
                [options]="{direction: 'downward'}"
                [control]="form.controls.cancerTypes"
                placeholder="Select cancer types" 
                class="fluid search multiple">
                <option *ngFor="let site of fields.cancerSites" value="{{site.id}}">{{site.text}}</option>
              </sm-select>
            </div>

            <div class="field" smDirTooltip="Select one or more project types">
              <sm-select
                label="Project Type"
                [options]="{direction: 'downward'}"
                [control]="form.controls.projectTypes"
                placeholder="Select project types" 
                class="fluid search multiple">
                <option *ngFor="let projectType of fields.projectTypes" value="{{projectType.id}}">{{projectType.text}}</option>
              </sm-select>
            </div>
          </accordion-content>
      </sm-accordion-item>

      <sm-accordion-item>
          <accordion-title>Common Scientific Outline</accordion-title>
          <accordion-content>


            <div class="field">
              <select id="CSOCode" multiple="multiple" name="CSOCode" size="21" title="Select one or more Common Scientific Outline (CSO) research areas">
                <option selected="selected" value="All">
                  All Areas
                </option>
                <option value="1,2,3,4,5">
                  Biology
                </option>
                <option value="1">
                  &nbsp;&nbsp;&nbsp;&nbsp;1.1 - Normal Functioning
                </option>
                <option value="2">
                  &nbsp;&nbsp;&nbsp;&nbsp;1.2 - Cancer Initiation: Alterations in Chromosomes
                </option>
                <option value="3">
                  &nbsp;&nbsp;&nbsp;&nbsp;1.3 - Cancer Initiation: Oncogenes and Tumor Suppressor Genes
                </option>
                <option value="4">
                  &nbsp;&nbsp;&nbsp;&nbsp;1.4 - Cancer Progression and Metastasis
                </option>
                <option value="5">
                  &nbsp;&nbsp;&nbsp;&nbsp;1.5 - Resources and Infrastructure Related to Biology
                </option>
                <option value="7,8,9,10">
                  Causes of Cancer/Etiology
                </option>
                <option value="7">
                  &nbsp;&nbsp;&nbsp;&nbsp;2.1 - Exogenous Factors in the Origin and Cause of Cancer
                </option>
                <option value="8">
                  &nbsp;&nbsp;&nbsp;&nbsp;2.2 - Endogenous Factors in the Origin and Cause of Cancer
                </option>
                <option value="9">
                  &nbsp;&nbsp;&nbsp;&nbsp;2.3 - Interactions of Genes and/or Genetic Polymorphisms with Exogenous and/or Endogenous Factors
                </option>
                <option value="10">
                  &nbsp;&nbsp;&nbsp;&nbsp;2.4 - Resources and Infrastructure Related to Etiology
                </option>
                <option value="11,12,13,14,15,16">
                  Prevention
                </option>
                <option value="11">
                  &nbsp;&nbsp;&nbsp;&nbsp;3.1 - Interventions to Prevent Cancer: Personal Behaviors that Affect Cancer Risk
                </option>
                <option value="12">
                  &nbsp;&nbsp;&nbsp;&nbsp;3.2 - Nutritional Science in Cancer Prevention
                </option>
                <option value="13">
                  &nbsp;&nbsp;&nbsp;&nbsp;3.3 - Chemoprevention
                </option>
                <option value="14">
                  &nbsp;&nbsp;&nbsp;&nbsp;3.4 - Vaccines
                </option>
                <option value="15">
                  &nbsp;&nbsp;&nbsp;&nbsp;3.5 - Complementary and Alternative Prevention Approaches
                </option>
                <option value="16">
                  &nbsp;&nbsp;&nbsp;&nbsp;3.6 - Resources and Infrastructure Related to Prevention
                </option>
                <option value="17,18,19,20">
                  Early Detection, Diagnosis, and Prognosis
                </option>
                <option value="17">
                  &nbsp;&nbsp;&nbsp;&nbsp;4.1 - Technology Development and/or Marker Discovery
                </option>
                <option value="18">
                  &nbsp;&nbsp;&nbsp;&nbsp;4.2 - Technology and/or Marker Evaluation with Respect to Fundamental Parameters of Method
                </option>
                <option value="19">
                  &nbsp;&nbsp;&nbsp;&nbsp;4.3 - Technology and/or Marker Testing in a Clinical Setting
                </option>
                <option value="20">
                  &nbsp;&nbsp;&nbsp;&nbsp;4.4 - Resources and Infrastructure Related to Early Detection, Diagnosis or Prognosis
                </option>
                <option value="21,22,23,24,25,26,27">
                  Treatment
                </option>
                <option value="21">
                  &nbsp;&nbsp;&nbsp;&nbsp;5.1 - Localized Therapies - Discovery and Development
                </option>
                <option value="22">
                  &nbsp;&nbsp;&nbsp;&nbsp;5.2 - Localized Therapies - Clinical Applications
                </option>
                <option value="23">
                  &nbsp;&nbsp;&nbsp;&nbsp;5.3 - Systemic Therapies - Discovery and Development
                </option>
                <option value="24">
                  &nbsp;&nbsp;&nbsp;&nbsp;5.4 - Systemic Therapies - Clinical Applications
                </option>
                <option value="25">
                  &nbsp;&nbsp;&nbsp;&nbsp;5.5 - Combinations of Localized and Systemic Therapies
                </option>
                <option value="26">
                  &nbsp;&nbsp;&nbsp;&nbsp;5.6 - Complementary and Alternative Treatment Approaches
                </option>
                <option value="27">
                  &nbsp;&nbsp;&nbsp;&nbsp;5.7 - Resources and Infrastructure Related to Treatment
                </option>
                <option value="28,30,31,32,33,34,35,29">
                  Cancer Control, Survivorship and Outcomes Research
                </option>
                <option value="28">
                  &nbsp;&nbsp;&nbsp;&nbsp;6.1 - Patient Care and Survivorship Issues
                </option>
                <option value="30">
                  &nbsp;&nbsp;&nbsp;&nbsp;6.2 - Surveillance
                </option>
                <option value="31">
                  &nbsp;&nbsp;&nbsp;&nbsp;6.3 - Behavior Related to Cancer Control
                </option>
                <option value="32">
                  &nbsp;&nbsp;&nbsp;&nbsp;6.4 - Cost Analyses and Health Care Delivery
                </option>
                <option value="33">
                  &nbsp;&nbsp;&nbsp;&nbsp;6.5 - Education and Communication
                </option>
                <option value="34">
                  &nbsp;&nbsp;&nbsp;&nbsp;6.6 - End-of-Life Care
                </option>
                <option value="35">
                  &nbsp;&nbsp;&nbsp;&nbsp;6.7 - Ethics and Confidentiality in Cancer Research
                </option>
                <option value="29">
                  &nbsp;&nbsp;&nbsp;&nbsp;6.9 - Resources and Infrastructure Related to Cancer Control, Survivorship, and Outcomes Research
                </option>
                <option value="99">
                  Uncoded
                </option>
              </select>
            </div>
          </accordion-content>
      </sm-accordion-item>
  </sm-accordion>

  <div style="text-align: right; margin-top: 10px; margin-right: -4px;">
      <sm-button class="small normal">Clear</sm-button>
      <sm-button class="small primary" (click)="submit()">Search</sm-button>
  </div>
</form>