/** indicator for dismissible property */
:host .dismissible:hover {
  cursor: pointer;
  opacity: 0.5;
}

/** apply spin animation to svg */
:host .spinner {
  animation: spin 1s infinite linear;
}

/** spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}