.pagination {
  margin-top: 0;
  margin-bottom: 0;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.pagination-select-container {
  display: flex;
  align-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-225 {
  transform: rotate(225deg);
}

.sortable-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.callback-link {
  color: steelblue;
  text-decoration: underline;
  cursor: pointer;
}

.callback-link:hover {
  color: blue;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}