<div class="clearfix margin-bottom">
  <icrp-email-results-button
    *ngIf="sharedService.get('componentType') === 'search'">
  </icrp-email-results-button>

  <icrp-export-button
    label="Export Results"
    [endpoint]="getRoutes().exportResults">
    </icrp-export-button>

  <icrp-export-button
    *ngIf="authenticated"
    label="Export Single"
    [endpoint]="getRoutes().exportResultsSingle">
  </icrp-export-button>

  <icrp-export-button
    *ngIf="authenticated"
    label="Export Abstracts"
    [endpoint]="getRoutes().exportAbstracts">
  </icrp-export-button>

  <icrp-export-button
    *ngIf="authenticated"
    label="Export Abstracts Single"
    [endpoint]="getRoutes().exportAbstractsSingle">
  </icrp-export-button>

  <span class="pull-right">
    <icrp-export-button
      label="Export Graphs"
      [endpoint]="getRoutes().exportGraphs">
    </icrp-export-button>
  </span>
</div>

