.vertical-margins {
  margin-top: 15px;
  margin-bottom: 15px;
}

.vertical-resize {
  resize: vertical;
}

.nowrap {
  white-space: nowrap;
}

.bordered {
  border: 1px solid #ddd;
}

.padded {
  padding: 10px 15px;
}
