.vertical-margins {
  margin-top: 15px;
  margin-bottom: 15px;
}

.vertical-resize {
  resize: vertical;
}

.default-min-height {
  min-height: 2.4em;
}

.nowrap {
  white-space: nowrap;
}

.bordered {
  border: 1px solid #ddd;
}

.padded {
  padding: 10px 15px;
}

label.inline {
  margin: 0;
}

label.normal-weight {
  font-weight: normal;
}

*[fxLayout="column"] > *[fxFlex]{
  flex: 1 0 auto !important;
}

.grey {
  color: #999;
}

