<h1>Add / Edit Institution</h1>
<div class="container">
  <div class="form-group">Add a new institution or update an existing institution.</div>
  <icrp-institutions-form>
    <em>Loading...</em>
  </icrp-institutions-form>
</div>