<alert *ngFor="let message of messages" [type]="message.type" dismissible="true">
  <div [innerHTML]="message.content"></div>
</alert>

<form
  fxLayout="row wrap"
  [formGroup]="form">

  <div
    fxLayout="row wrap"
    fxFlex="100"
    class="border mb-4">

    <div
      class="px-4 py-3"
      [ngClass]="{'has-error': form.controls.operationType.dirty && form.controls.operationType.invalid}"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="start center">
      <label
        ngClass.lt-md="mb-2"
        class="m-0 mr-4 font-weight-bold">
        Operation Type
      </label>

      <label
        fxLayout
        fxFlex="nogrow"
        fxFlex.lt-md="100"
        fxLayoutAlign="start center"
        ngClass.lt-md="mb-2"
        class="m-0 mr-4 font-weight-normal">
        <input
          class="mr-1"
          type="radio"
          value="Add"
          id="operationTypeAdd"
          formControlName="operationType">
        Add
      </label>

      <label
        fxLayout
        fxFlex="nogrow"
        fxFlex.lt-md="100"
        fxLayoutAlign="start center"
        ngClass.lt-md="mb-2"
        class="m-0 font-weight-normal">
        <input
          class="mr-1"
          type="radio"
          value="Update"
          id="operationTypeUpdate"
          formControlName="operationType">
        Update
      </label>
    </div>


    <div
      class="px-4 py-3"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="start center">
      <input
        class="mr-1"
        type="checkbox"
        id="isNonPartner"
        formControlName="isNonPartner">
      <label
        class="m-0 font-weight-normal"
        for="isNonPartner">
        Non-ICRP Partner (Prospective)
      </label>
    </div>
  </div>

  <div
    *ngIf="!form.controls.isNonPartner.value"
    fxLayout="row wrap"
    fxFlex="100"
    class="border mb-4">

    <div
      class="px-4 py-3"
      [ngClass]="{
        'has-error': form.controls.partnerId.dirty && form.controls.partnerId.invalid ||
          form.controls.partnerApplicationId.dirty && form.controls.partnerApplicationId.invalid
      }"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="space-between center">
      <label
        fxFlex="20"
        fxFlex.lt-md="100"
        class="control-label"
        ngClass.lt-md="mb-2"
        class="m-0 mr-4 font-weight-bold asterisk"
        for="partnerApplicationId">
        Partner
      </label>

      <select
        fxFlex="75"
        fxFlex.lt-md="100"
        class="form-control input-sm"
        *ngIf="form.controls.operationType.value === 'Add'"
        id="partnerApplicationId"
        formControlName="partnerApplicationId">
        <option
          [ngValue]="null"
          *ngIf="!fields.partnerApplications"
          hidden>
          Loading...
        </option>
        <option
          [ngValue]="null"
          *ngIf="fields.partnerApplications"
          hidden>
          Select a partner application
        </option>
        <option
          *ngFor="let partnerApplication of fields.partnerApplications"
          [ngValue]="partnerApplication.partnerapplicationid">
          {{ partnerApplication.name }}
        </option>
      </select>

      <select
        fxFlex="75"
        fxFlex.lt-md="100"
        class="form-control input-sm"
        *ngIf="form.controls.operationType.value === 'Update'"
        id="partnerId"
        formControlName="partnerId">
        <option
          [ngValue]="null"
          *ngIf="!fields.partners"
          hidden>
          Loading...
        </option>
        <option
          [ngValue]="null"
          *ngIf="fields.partners"
          hidden>
          Select a partner
        </option>
        <option
          *ngFor="let partner of fields.partners"
          [ngValue]="partner.partnerid">
          {{ partner.name }}
        </option>
      </select>
    </div>

    <div
      class="px-4 py-3"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="start center">
      <label
        ngClass.lt-md="mb-2"
        class="m-0 mr-4 font-weight-bold">
        Status
      </label>

      <label
        fxLayout
        fxFlex="nogrow"
        fxFlex.lt-md="100"
        fxLayoutAlign="start center"
        ngClass.lt-md="mb-2"
        class="m-0 mr-4 font-weight-normal">
        <input
          class="mr-1"
          type="radio"
          value="Current"
          id="statusCurrent"
          formControlName="status">
          Current
      </label>

      <label
        fxLayout
        fxFlex="nogrow"
        fxFlex.lt-md="100"
        fxLayoutAlign="start center"
        ngClass.lt-md="mb-2"
        class="m-0 font-weight-normal">
        <input
          class="mr-1"
          type="radio"
          value="Former"
          id="statusFormer"
          formControlName="status">
          Former
      </label>
    </div>
  </div>

  <div
    *ngIf="form.controls.isNonPartner.value"
    fxLayout="row wrap"
    fxFlex="100"
    class="border mb-4">

    <div
      class="px-4 py-3"
      [ngClass]="{'has-error': form.controls.name.dirty && form.controls.name.invalid}"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="space-between center">
      <label
        fxFlex="20"
        fxFlex.lt-md="100"
        class="control-label"
        ngClass.lt-md="mb-2"
        class="m-0 mr-4 font-weight-bold asterisk">
        Partner
      </label>
      <input
        fxFlex="75"
        fxFlex.lt-md="100"
        class="form-control input-sm"
        id="name"
        *ngIf="form.value.operationType == 'Add'"
        placeholder="Enter partner name"
        formControlName="name">

      <select
        fxFlex="75"
        fxFlex.lt-md="100"
        class="form-control input-sm"
        *ngIf="form.value.operationType == 'Update'"
        id="nonPartnerId"
        formControlName="nonPartnerId">
        <option
          [ngValue]="null"
          *ngIf="!fields.nonPartners"
          hidden>
          Loading...
        </option>
        <option
          [ngValue]="null"
          *ngIf="fields.nonPartners"
          hidden>
          Select a partner
        </option>
        <option
          *ngFor="let nonPartner of fields.nonPartners"
          [ngValue]="nonPartner.nonpartnerid">
          {{ nonPartner.name }}
        </option>
      </select>

      </div>
  </div>

<div
    class="mb-4"
    [ngClass]="{
      'has-error': form.controls.country.dirty && form.controls.country.invalid,
      'pr-4': true
    }"
    ngClass.lt-md="pr-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start start">
    <label
      for="country"
      class="font-weight-bold control-label asterisk">
      Country
    </label>
    <select
      class="form-control input-sm"
      id="country"
      formControlName="country">
      <option
        [ngValue]="null"
        *ngIf="!fields.countries"
        hidden>
        Loading...
      </option>
      <option
        [ngValue]="null"
        *ngIf="fields.countries"
        hidden>
        Select a country
      </option>
      <option *ngFor="let country of fields.countries" [ngValue]="country.abbreviation">
        {{ country.name }}
      </option>
    </select>
    <div
      *ngIf="form.controls.country.dirty && form.controls.country?.errors?.required"
      class="help-block mb-0">
      This field is required.
    </div>
  </div>

  <div
    class="mb-4"
    [ngClass]="{
      'has-error': form.controls.email.dirty && form.controls.email.invalid,
      'pl-4': true
    }"
    ngClass.lt-md="pl-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start start">
    <label
      class="font-weight-bold control-label asterisk">
      Email
    </label>
    <input
      class="form-control input-sm"
      formControlName="email"
      placeholder="Enter email">
    <div
      *ngIf="form.controls.email.dirty &&
        form.controls.email?.errors?.required"
      fxLayout
      class="help-block mb-0">
      This field is required.
    </div>

    <div
      *ngIf="form.controls.email.dirty &&
        form.controls.email.errors?.email &&
        !form.controls.email.errors?.required"
      fxLayout
      class="help-block mb-0">
      This field should be in a valid format.
    </div>
  </div>

  <div
    class="mb-4"
    [ngClass]="{'has-error': form.controls.description.dirty && form.controls.description.invalid}"
    fxLayout="column"
    fxFlex="100"
    fxLayoutAlign="start start">
    <label
      class="font-weight-bold asterisk">
      Description
    </label>
    <textarea
      rows="5"
      class="form-control input-sm"
      formControlName="description"
      placeholder="Enter description">
    </textarea>
    <div
      *ngIf="form.controls.description.dirty &&
        form.controls.description.errors?.required"
      fxLayout
      class="help-block mb-0">
      This field is required.
    </div>
  </div>


  <div
    class="mb-4"
    [ngClass]="{
      'has-error': form.controls.sponsorCode.dirty && form.controls.sponsorCode.invalid,
      'pr-4': true
    }"
    ngClass.lt-md="pr-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start start">
    <label
      class="font-weight-bold control-label asterisk">
      Sponsor Code
    </label>
    <input
      class="form-control input-sm"
      maxlength="50"
      formControlName="sponsorCode"
      placeholder="Enter sponsor code">
    <div
      *ngIf="form.controls.sponsorCode.dirty &&
        form.controls.sponsorCode?.errors?.required"
      fxLayout
      class="help-block mb-0">
      This field is required.
    </div>
  </div>

  <div
    class="mb-4"
    [ngClass]="{
      'has-error': form.controls.website.dirty && form.controls.website.invalid,
      'pl-4': true
    }"
    ngClass.lt-md="pl-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start fill">
    <label
      class="font-weight-bold control-label">
      Website
    </label>
    <website-input
      inputId="website"
      inputName="website"
      placeholder="Enter website"
      selectClass="form-control input-sm"
      inputClass="form-control input-sm border-left-0"
      formControlName="website">
    </website-input>
    <div
      *ngIf="form.controls.website.dirty && form.controls.website?.errors?.pattern"
      fxLayout
      fxFlex="100"
      class="help-block mb-0">
      This field should be in a valid format.
    </div>
  </div>


  <div
    class="mb-4"
    [ngClass]="{
      'has-error': (form.controls.latitude.dirty && form.controls.latitude.invalid)
        || (form.controls.longitude.dirty && form.controls.longitude.invalid),
      'pr-4': true
    }"
    ngClass.lt-md="pr-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start fill">
    <label
      class="font-weight-bold control-label"
      [ngClass]="{asterisk: !form.value.isNonPartner}">
      Map Coordinates
    </label>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
      fxLayoutGap.lt-md="0">
      <input
        fxFlex="48%"
        fxFlex.lt-md="100"
        type="number"
        class="form-control input-sm"
        ngClass.lt-md="mb-3"
        max="90"
        min="-90"
        formControlName="latitude"
        placeholder="Enter latitude (eg: 32.30642)">

      <input
        fxFlex="48%"
        fxFlex.lt-md="100"
        type="number"
        class="form-control input-sm"
        max="180"
        min="-180"
        formControlName="longitude"
        placeholder="Enter longitude (eg: -122.61458)">
    </div>

    <div
      *ngIf="(form.controls.longitude.dirty && form.controls.longitude?.errors?.required)
        || (form.controls.latitude.dirty && form.controls.latitude?.errors?.required)"
      class="help-block mb-0">
      Both fields are required.
    </div>

    <div
      *ngIf="form.controls.latitude.dirty
        && (form.controls.latitude?.errors?.min || form.controls.latitude?.errors?.max)"
      class="help-block mb-0">
      Latitude should be a decimal number between -90.0 and 90.0 inclusive.
    </div>

    <div
      *ngIf="form.controls.longitude.dirty
        && (form.controls.longitude?.errors?.min || form.controls.longitude?.errors?.max)"
      class="help-block mb-0">
      Longitude should be a decimal number between -180.0 and 180.0 inclusive.
    </div>
  </div>


  <div
    class="mb-4"
    [ngClass]="{
      'has-error': form.controls.logoFile.dirty && form.controls.logoFile.invalid,
      'pl-4': true
    }"
    ngClass.lt-md="pl-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start fill">
    <label
      class="font-weight-bold control-label">
      Logo File
    </label>

    <div fxLayout>
      <input
        class="form-control input-sm border-right-0 bg-light-grey"
        readonly
        placeholder="Select logo file (jpg, png, or gif)"
        formControlName="logoFile">
      <label
        class="btn btn-default btn-sm"
        for="logoFileInput">
        Browse...
      </label>
      <input
        type="file"
        class="sr-only"
        id="logoFileInput"
        accept="image/*"
        formControlName="logoFileInput">
    </div>
    <div
      *ngIf="form.controls.logoFile.dirty && form.controls.logoFile?.errors?.pattern"
      fxLayout
      fxFlex="100"
      class="help-block mb-0">
      This field should be in a valid format.
    </div>
  </div>



  <div
    class="mb-4"
    [ngClass]="{'has-error': form.controls.note.dirty && form.controls.note.invalid}"
    fxLayout="column"
    fxFlex="100"
    fxLayoutAlign="start start">
    <label
      class="font-weight-bold">
      Note
    </label>
    <textarea
      rows="5"
      class="form-control input-sm"
      formControlName="note"
      placeholder="Enter note">
    </textarea>
    <div
      *ngIf="form.controls.note.dirty &&
        form.controls.note.errors?.required"
      fxLayout
      class="help-block mb-0">
      This field is required.
    </div>
  </div>



  <div
    *ngIf="form.value.isNonPartner"
    [ngClass]="{'has-error': form.controls.estimatedInvestment.dirty && form.controls.estimatedInvestment.invalid}"
    fxLayout="row wrap"
    fxFlex="100"
    class="border mb-4">

    <div
      class="px-4 py-3"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="space-between center">
      <label
        fxFlex="35"
        fxFlex.lt-md="100"
        for="estimatedInvestment"
        class="control-label font-weight-bold asterisk">
        Estimated Investment
      </label>

      <input
        fxFlex="64"
        fxFlex.lt-md="100"
        class="form-control input-sm"
        id="estimatedInvestment"
        formControlName="estimatedInvestment"
        placeholder="Eg: $102,000 or 102K (USD)">

      <div
        *ngIf="form.controls.estimatedInvestment.dirty &&
          form.controls.estimatedInvestment.errors?.required"
        fxLayout
        class="help-block mb-0">
        This field is required.
      </div>
    </div>

    <div
      class="px-4 py-3"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="start center">

      <label
        fxLayout
        fxFlex="nogrow"
        fxFlex.lt-md="100"
        fxLayoutAlign="start center"
        ngClass.lt-md="mb-2"
        class="m-0 mr-5 font-weight-normal">
        <input
          class="mr-1"
          type="checkbox"
          value="cancerOnly"
          id="cancerOnly"
          formControlName="cancerOnly">
        Cancer Only
      </label>

      <label
        fxLayout
        fxFlex="nogrow"
        fxFlex.lt-md="100"
        fxLayoutAlign="start center"
        ngClass.lt-md="mb-2"
        class="m-0 font-weight-normal">
        <input
          class="mr-1"
          type="checkbox"
          value="researchFunder"
          id="researchFunder"
          formControlName="researchFunder">
        Research Funder
      </label>
    </div>
  </div>


  <div
    *ngIf="form.value.isNonPartner"
    fxLayout="row wrap"
    fxFlex="100"
    class="border mb-4">

    <div
      class="px-4 py-3"
      [ngClass]="{'has-error': form.controls.contactPerson.dirty && form.controls.contactPerson.invalid}"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="space-between center">
      <label
        fxFlex="30"
        fxFlex.lt-md="100"
        ngClass.lt-md="mb-2"
        class="m-0 mr-4 font-weight-bold control-label">
        Contact Name
      </label>

      <input
        fxFlex="65"
        class="form-control input-sm"
        formControlName="contactPerson"
        placeholder="Eg: Dr. FirstName, LastName">

      <div
        *ngIf="form.controls.contactPerson.dirty && form.controls.contactPerson?.errors?.required"
        class="help-block mb-0">
        This field is required.
      </div>
    </div>

    <div
      class="px-4 py-3"
      [ngClass]="{'has-error': form.controls.currency.dirty && form.controls.currency.invalid}"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="space-between center">
      <label
        fxFlex="30"
        fxFlex.lt-md="100"
        ngClass.lt-md="mb-2"
        class="m-0 mr-4 font-weight-bold control-label">
        Position
      </label>

      <input
        fxFlex="65"
        class="form-control input-sm"
        formControlName="position"
        placeholder="Enter contact person's position">
      <div
        *ngIf="form.controls.position.dirty && form.controls.position?.errors?.required"
        class="help-block mb-0">
        This field is required.
      </div>
    </div>

    <div
      class="px-4 py-3"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="start center">
      <input
        class="mr-1"
        type="checkbox"
        id="doNotContact"
        formControlName="doNotContact">
      <label
        class="m-0 font-weight-normal"
        for="doNotContact">
        Do Not Contact
      </label>
    </div>
  </div>

  <div
    *ngIf="!form.value.isNonPartner"
    fxLayout="row wrap"
    fxFlex="100"
    class="border mb-4">

    <div
      class="px-4 py-3"
      [ngClass]="{'has-error': form.controls.joinedDate.dirty && form.controls.joinedDate.invalid}"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="space-between center">
      <label
        fxFlex="20"
        fxFlex.lt-md="100"
        ngClass.lt-md="mb-2"
        class="m-0 mr-4 font-weight-bold control-label asterisk">
        Joined Date
      </label>

      <input
        fxFlex="75"
        fxFlex.lt-md="100"
        class="form-control input-sm bg-light-grey"
        placeholder="Enter joined date"
        formControlName="joinedDate"
        bsDatepicker
        readonly
        [maxDate]="today"
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">

      <div
        *ngIf="form.controls.joinedDate.dirty &&
          form.controls.joinedDate.errors?.required"
        fxLayout
        class="help-block mb-0">
        This field is required.
      </div>
    </div>

    <div
      class="px-4 py-3"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="start center">
      <input
        class="mr-1"
        type="checkbox"
        id="isDSASigned"
        formControlName="isDSASigned">
      <label
        class="m-0 font-weight-bold"
        for="isDSASigned">
        Agreed to Terms and Conditions
      </label>
    </div>
  </div>

  <div
    *ngIf="form.value.operationType == 'Add' && !form.value.isNonPartner"
    class="mb-2"
    fxFlex="100">
    <label
      fxLayout
      fxLayoutAlign="start center"
      class="m-0 font-weight-bold">
      <input
        type="checkbox"
        class="mr-1"
        formControlName="isFundingOrganization">
      Add as a Partner Funding Organization
    </label>
  </div>


  <div
    *ngIf="form.value.operationType == 'Add' && !form.value.isNonPartner"
    style="position: relative;"
    [ngClass]="{'disabled-overlay': !form.value.isFundingOrganization}"
    fxLayout="row wrap"
    fxFlex="100"
    class="border mb-4">

    <div
      class="px-4 py-3"
      [ngClass]="{'has-error': form.controls.type.dirty && form.controls.type.invalid}"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="space-between center">
      <label
        fxFlex="30"
        fxFlex.lt-md="100"
        ngClass.lt-md="mb-2"
        class="m-0 mr-4 font-weight-bold control-label asterisk">
        Organization Type
      </label>

      <select
        fxFlex="65"
        class="form-control input-sm"
        id="type"
        formControlName="type">
        <option [ngValue]="null">
          Select an organization type
        </option>
        <option ngValue="Government">
          Government
        </option>
        <option ngValue="Non-profit">
          Non-profit
        </option>
        <option ngValue="Other">
            Other
        </option>
      </select>
      <div
        *ngIf="form.controls.type.dirty && form.controls.type?.errors?.required"
        class="help-block mb-0">
        This field is required.
      </div>
    </div>

    <div
      class="px-4 py-3"
      [ngClass]="{'has-error': form.controls.currency.dirty && form.controls.currency.invalid}"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="space-between center">
      <label
        fxFlex="30"
        fxFlex.lt-md="100"
        ngClass.lt-md="mb-2"
        class="m-0 mr-4 font-weight-bold control-label asterisk">
        Currency
      </label>

      <select
        fxFlex="65"
        class="form-control input-sm"
        id="currency"
        formControlName="currency">
        <option [ngValue]="null" *ngIf="!fields.currencies">
          Loading...
        </option>
        <option [ngValue]="null" *ngIf="fields.currencies">
          Select a currency
        </option>
        <option *ngFor="let currency of fields.currencies" [ngValue]="currency.code">
          {{ currency.description }}
        </option>
      </select>

      <div
        *ngIf="form.controls.currency.dirty && form.controls.currency?.errors?.required"
        class="help-block mb-0">
        This field is required.
      </div>
    </div>

    <div
      class="px-4 py-3"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="start center">
      <input
        class="mr-1"
        type="checkbox"
        id="isAnnualized"
        formControlName="isAnnualized">
      <label
        class="m-0 font-weight-bold"
        for="isAnnualized">
        Annualized Funding
      </label>
    </div>
  </div>

  <div
    class="mb-4"
    fxLayouut
    fxLayoutGap="10px"
    fxLayoutAlign="center center"
    fxFlex="100">
    <button class="btn btn-sm btn-primary" (click)="submit()">
      Save
    </button>

    <button class="btn btn-sm btn-default" (click)="reset()">
      Cancel
    </button>
  </div>

</form>

<!-- <pre>{{ form.value | json }}</pre> -->