th {
  cursor: pointer;
}

.table {
  margin-bottom: 0;
}

.rotate-45 {
  transform: rotate(45deg);
}


.rotate-225 {
  transform: rotate(225deg);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-pagination-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4px;
}