.vertical-margins {
  margin-top: 15px;
  margin-bottom: 15px;
}

.vertical-resize {
  resize: vertical;
}

.bordered {
  border: 1px solid #ddd;
}

.padded {
  padding: 10px 15px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-10 {
  padding-top: 10px;
}

input.hidden {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.border-right-none {
  border-right-style: none;
}

.border-left-none {
  border-left-style: none;
}

.group-item-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.group-item-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}