:host .arc text {
    text-anchor: middle;
    font: 10px sans-serif;
}

:host .arc path {
    stroke: #fff;
}

path {
    fill: #CCC;
    stroke: #444;
}


.d3-tooltip {
  color: #555;
  background-color: #EEE;
  padding: 5px;

  border-radius: 4px;
  opacity: 0.5;

  z-index: 9999;
  position: fixed;
  pointer-events: none;
}

div.d3-tooltip > hr {
    margin: 0;
}