<alert *ngFor="let message of messages" [type]="message.type" dismissible="true">
  {{ message.text }}
</alert>

<form
  class="vertical-margins"
  fxLayout
  fxLayoutWrap
  fxLayoutGap="15px"
  [formGroup]="form"
  (ngSubmit)="submit()">

  <div
    class="bordered padded form-group"
    fxLayout
    fxLayoutWrap
    fxLayoutAlign="start center"
    fxLayoutGap="15px"
    fxFlex="100%">

    <div
      ngClass.lt-md="form-group"
      fxLayout
      fxLayout.lt-md="column"
      fxLayoutWrap
      fxFlex="calc(50% - 15px)"
      fxFlex.lt-md="100%"
      fxLayoutGap="15px"
      fxLayoutGap.lt-md="5px">
        <label
          class="control-label inline">
          Operation Type
        </label>

        <label class="inline normal-weight" for="operationTypeAdd">
          <input
            id="operationTypeAdd"
            type="radio"
            name="operationType"
            value="Add"
            formControlName="operationType">
          Add
        </label>

        <label class="inline normal-weight" for="operationTypeUpdate">
          <input
            id="operationTypeUpdate"
            type="radio"
            name="operationType"
            value="Update"
            formControlName="operationType">
          Update
        </label>
        <div
          fxFlex="100%"
          *ngIf="form.controls.partner.dirty && form.controls.partner.invalid">
          &zwj;
        </div>
    </div>

    <div
      [ngClass]="{'has-error': form.controls.partner.dirty
        && form.controls.partner.invalid}"
      ngClass.lt-md="form-group"
      fxLayout
      fxLayoutWrap
      fxFlex="calc(50% - 15px)"
      fxFlex.lt-md="100%"
      fxLayoutAlign="start center"
      fxLayoutGap="10px">
      <label
        class="control-label text-nowrap inline asterisk"
        for="partner"
        fxFlex="calc(20% - 10px)"
        fxFlex.lt-md="100%">
        Partner
      </label>
      <select
        fxFlex="calc(80% - 10px)"
        fxFlex.lt-md="100%"
        id="partner"
        name="partner"
        class="form-control input-sm"
        formControlName="partner"
        [ngSwitch]="options.partners.length">
        <option *ngSwitchCase="0" [value]="null" hidden>Loading...</option>
        <option *ngSwitchDefault [value]="null" hidden>Select a partner</option>
        <option *ngFor="let partner of options.partners" [value]="partner.value">
          {{ partner.label }}
        </option>
      </select>
      <div
        class="help-block"
        fxFlex="100%"
        *ngIf="form.controls.partner.dirty
          && form.controls.partner.errors?.required">
          This field is required.
      </div>
    </div>
  </div>

  <div
    class="bordered padded form-group"
    fxLayout
    fxLayoutWrap
    fxLayoutAlign="start center"
    fxLayoutGap="15px"
    fxFlex="100%">

    <div
      ngClass.lt-md="form-group"
      fxLayout
      fxLayout.lt-md="column"
      fxLayoutWrap
      fxFlex="calc(50% - 15px)"
      fxFlex.lt-md="100%"
      fxLayoutGap="15px"
      fxLayoutGap.lt-md="5px">
        <label
          class="control-label inline" for="memberType">
          Member Type
        </label>
        <input
          type="hidden"
          id="memberType"
          aria-label="This fieldset contains two radio buttons to select whether the chosen organization is a partner or an associate.">

        <label class="inline normal-weight" for="memberTypePartner">
          <input
            id="memberTypePartner"
            type="radio"
            name="memberType"
            value="Partner"
            formControlName="memberType">
          Partner
        </label>

        <label class="inline normal-weight" for="memberTypeAssociate">
          <input
            id="memberTypeAssociate"
            type="radio"
            name="memberType"
            value="Associate"
            formControlName="memberType">
          Associate
        </label>
    </div>

    <div
      ngClass.lt-md="form-group"
      fxLayout
      fxLayout.lt-md="column"
      fxLayoutWrap
      fxFlex="calc(50% - 15px)"
      fxFlex.lt-md="100%"
      fxLayoutGap="15px"
      fxLayoutGap.lt-md="5px">
      <label
        class="control-label inline">
        Member Status
      </label>

      <label class="inline normal-weight" for="memberStatusCurrent">
        <input
          id="memberStatusCurrent"
          type="radio"
          name="memberStatus"
          value="Current"
          formControlName="memberStatus">
        Current
      </label>

      <label class="inline normal-weight" for="memberStatusFormer">
        <input
          id="memberStatusFormer"
          type="radio"
          name="memberStatus"
          value="Former"
          formControlName="memberStatus">
        Former
      </label>

      <label class="inline normal-weight" for="memberStatusMerged">
        <input
          id="memberStatusMerged"
          type="radio"
          name="memberStatus"
          value="Merged"
          formControlName="memberStatus">
        Merged
      </label>
    </div>
  </div>

  <div
    class="form-group"
    [ngClass]="{'has-error': form.controls.name.dirty
      && form.controls.name.invalid}"
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%">
    <div>
      <label
        for="name"
        class="control-label asterisk">
        Organization Name
      </label>
      <input
        *ngIf="form.controls.operationType.value === 'Add'"
        id="name"
        name="name"
        class="form-control input-sm"
        placeholder="Enter name of funding organization (100 characters maximum)"
        maxlength="100"
        [formControl]="form.controls.name">

      <select
        *ngIf="form.controls.operationType.value === 'Update'"
        id="id"
        name="id"
        class="form-control input-sm"
        formControlName="id"
        [ngSwitch]="options?.funding_organizations?.length">
        <option *ngSwitchCase="0" [value]="null" hidden>Loading...</option>
        <option *ngSwitchDefault [value]="null" hidden>Select a funding organization</option>
        <option *ngFor="let organization of options.funding_organizations" [value]="organization.funding_organization_id">
          {{ organization.organization_name }}
        </option>
      </select>

    </div>
    <div class="help-block"
      *ngIf="form.controls.name.dirty
        && form.controls.name.errors?.required">
        This field is required.
    </div>

    <div class="help-block"
      *ngIf="form.controls.id.dirty
        && form.controls.id.errors?.required">
        This field is required.
    </div>
  </div>

  <div
    class="form-group"
    [ngClass]="{'has-error': form.controls.organizationType.dirty
      && form.controls.organizationType.invalid}"
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%">
    <label
      class="control-label asterisk"
      for="organizationType">
      Organization Type
    </label>
    <select
      id="organizationType"
      name="organizationType"
      class="form-control input-sm"
      [formControl]="form.controls.organizationType">
      <option [value]="null" hidden>Select an organization type</option>
      <option>Government</option>
      <option>Non-profit</option>
      <option>Other</option>
    </select>
    <div class="help-block"
      *ngIf="form.controls.organizationType.dirty
        && form.controls.organizationType.errors?.required">
      This field is required.
    </div>
  </div>

  <div
    class="form-group"
    [ngClass]="{'has-error': form.controls.abbreviation.dirty
      && form.controls.abbreviation.invalid}"
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%">
    <div>
      <label
        class="control-label asterisk"
        for="abbreviation">
        Abbreviation
      </label>
      <input
        id="abbreviation"
        name="abbreviation"
        class="form-control input-sm"
        placeholder="Enter abbreviation for funding organization (15 characters maximum)"
        maxlength="15"
        [formControl]="form.controls.abbreviation">
    </div>
    <div class="help-block"
      *ngIf="form.controls.abbreviation.dirty
        && form.controls.abbreviation.errors?.required">
      This field is required.
    </div>
  </div>

  <div
    class="form-group"
    [ngClass]="{'has-error': form.controls.website.dirty
      && form.controls.website.invalid}"
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%">
    <div>
      <label
        class="control-label"
        for="website">
        Website
      </label>
      <website-input
        inputId="website"
        inputName="website"
        placeholder="Enter website for funding organization"
        selectClass="form-control input-sm border-right-none group-item-left"
        inputClass="form-control input-sm group-item-right"
        formControlName="website">
      </website-input>
    </div>

    <div class="help-block"
      *ngIf="form.controls.website.dirty
        && form.controls.website.errors?.pattern != null">
      This field should be in a valid format.
    </div>
  </div>

  <div
    class="form-group"
    [ngClass]="{'has-error': form.controls.country.dirty
      && form.controls.country.invalid}"
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%">
    <label
      class="control-label asterisk"
      for="country">
      Country
    </label>
    <select
      id="country"
      name="country"
      class="form-control input-sm"
      [formControl]="form.controls.country"
      [ngSwitch]="options.countries.length">
      <option *ngSwitchCase="0" [value]="null" hidden>Loading...</option>
      <option *ngSwitchDefault [value]="null" hidden>Select a country</option>
      <option *ngFor="let country of options.countries" [value]="country.value">
        {{ country.label }}
      </option>
    </select>

    <div class="help-block"
      *ngIf="form.controls.country.dirty
        && form.controls.country.errors?.required">
      This field is required.
    </div>
  </div>

  <div
    class="form-group"
    [ngClass]="{'has-error': form.controls.currency.dirty
      && form.controls.currency.invalid}"
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%">
    <label
      class="control-label asterisk"
      for="currency">
      Currency
    </label>
    <select
      id="currency"
      name="currency"
      class="form-control input-sm"
      [formControl]="form.controls.currency"
      [ngSwitch]="options.currencies.length">
      <option *ngSwitchCase="0" [value]="null" hidden>Loading...</option>
      <option *ngSwitchDefault [value]="null" hidden>Select a currency</option>
      <option *ngFor="let currency of options.currencies" [value]="currency.value">
        {{ currency.label }}
      </option>
    </select>

    <div class="help-block"
      *ngIf="form.controls.currency.dirty
        && form.controls.currency.errors?.required">
      This field is required.
    </div>
  </div>

  <div
    class="form-group"
    [ngClass]="{'has-error': (form.controls.latitude.dirty && form.controls.latitude.invalid)
      || (form.controls.longitude.dirty && form.controls.longitude.invalid)}"
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%">
    <label
      class="control-label asterisk"
      for="mapCoordinates">
      Map Coordinates
    </label>
    <input
      type="hidden"
      id="mapCoordinates"
      aria-label="This fieldset contains two text input fields to enter the longitude and latitude of the funding organization.">

    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutGap="15px"
      fxLayoutGap.lt-md="10px"
      >
      <input
        id="latitude"
        name="latitude"
        class="form-control input-sm"
        type="number"
        placeholder="Enter latitude (eg: 32.30642)"
        fxFlex
        fxFlex.lt-md="nogrow"
        max="90"
        min="-90"
        step="0.01"
        [formControl]="form.controls.latitude">

      <input
        id="longitude"
        name="longitude"
        class="form-control input-sm"
        type="number"
        placeholder="Enter longitude (eg: -122.61458)"
        fxFlex
        fxFlex.lt-md="nogrow"
        max="180"
        min="-180"
        step="0.01"
        [formControl]="form.controls.longitude">
    </div>

    <div class="help-block"
      *ngIf="(form.controls.latitude.dirty && form.controls.latitude.errors?.required)
        || (form.controls.longitude.dirty && form.controls.longitude.errors?.required)">
      Both fields are required.
    </div>

    <div class="help-block"
      *ngIf="form.controls.latitude.dirty
        && (form.controls.latitude.errors?.min || form.controls.latitude.errors?.max)">
      The latitude should be provided as a decimal number between -90.0 and 90.0 inclusive.
    </div>

    <div class="help-block"
      *ngIf="form.controls.longitude.dirty
        && (form.controls.longitude.errors?.min || form.controls.longitude.errors?.max)">
      The longitude should be provided as a decimal number between -180.0 and 180.0 inclusive.
    </div>
  </div>




  <div
    class="form-group"
    fxLayout
    fxLayoutWrap
    fxLayoutAlign="start flex-start"
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%">

    <label
      fxShow
      fxShow.lt-md="false"
      fxFlex="100%"
      style="margin-bottom: 10px;">
      &zwj;
    </label>
    <label
      fxFlex="100%"
      for="annualizedFunding">
      <input
        id="annualizedFunding"
        type="checkbox"
        name="annualizedFunding"
        [formControl]="form.controls.annualizedFunding">
      Annualized Funding
    </label>
  </div>

  <div
    class="form-group"
    fxFlex="100%">
      <label for="note">Note</label>
      <textarea
        id="note"
        name="note"
        class="form-control vertical-resize"
        placeholder="Enter note (optional, 1000 characters maximum)"
        rows="5"
        maxlength="8000"
        [formControl]="form.controls.note">
      ></textarea>
  </div>

  <i class="form-group text-right text-muted" fxFlex="100%">
    <span style="color: red;">*</span> indicates required fields
  </i>

  <div fxFlex="100%" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button type="submit" class="btn btn-primary standard-width">Save</button>
    <button class="btn btn-default standard-width" (click)="resetForm($event)">Cancel</button>
  </div>
</form>

<pre>
  {{ form.value | json}}
</pre>
