
label.inline {
  margin: 0;
}

.normal-weight,
label.normal-weight {
  font-weight: normal;
}

.default-min-height {
  min-height: 2.4em;
}

.standard-width {
  width: 80px;
}

.wide-margins {
  margin: 10px;
}

.asterisk::after {
  content: '*';
  color: red;
}