
label.inline {
  margin: 0;
}

.normal-weight,
label.normal-weight {
  font-weight: normal;
}

*[fxLayout="column"] > *[fxFlex]{
  flex: 1 0 auto !important;
}

.default-min-height {
  min-height: 2.4em;
}

.error {
  color: #F62459;
}

.validation-error {
  margin-top: 5px;
  font-style: italic;
  color: #F03434;
}

.form-control.ng-dirty.ng-invalid{
  border: 1px solid #999;
  background-color: #fafafa;
  box-shadow: 0 0 4px #aaa;
  color: #666;
}

.form-control.ng-dirty.ng-invalid:hover {
  border: 1px solid #999;
  background-color: #fafafa;
  box-shadow: 0 0 8px #aaa;
  color: #666;
}

.standard-width {
  width: 80px;
}

.wide-margins {
  margin: 10px;
}