<alert *ngFor="let message of messages" [type]="message.type" dismissible="true">
  <div [innerHTML]="message.content"></div>
</alert>

<form fxLayout="row wrap" [formGroup]="form" autocomplete="off">

  <div
    class="mb-4"
    [ngClass]="{
      'has-error':
        form.controls.deletedInstitutionSearch?.dirty &&
        form.controls.deletedInstitutionId?.errors?.required,
      'pr-4': true
    }"
    ngClass.lt-md="pr-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start start">
    <label class="font-weight-bold control-label asterisk">
      Old Institution
    </label>

    <input
      class="form-control input-sm"
      formControlName="deletedInstitutionSearch"
      [typeahead]="fields.institutions"
      [typeaheadMinLength]="0"
      [typeaheadScrollable]="true"
      [typeaheadOptionsInScrollableView]="10"
      typeaheadOptionField="name"
      typeaheadValueField="id"
      typeaheadWaitMs="200"
      (keyup)="updateForm('deletedInstitutionId', null)"
      (click)="deletedInstitution.select()"
      (typeaheadOnSelect)="updateForm('deletedInstitutionId', $event.item.id)"
      placeholder="Select an institution to be merged"
      #deletedInstitution>
    <div
      *ngIf="form.controls.deletedInstitutionSearch?.dirty &&
        form.controls.deletedInstitutionId?.errors?.required"
      fxLayout
      class="help-block mb-0">
      Please select an institution.
    </div>
  </div>


  <div
    class="mb-4"
    [ngClass]="{
      'has-error':
        form.controls.keptInstitutionSearch?.dirty &&
        form.controls.keptInstitutionId?.errors?.required,
      'pl-4': true
    }"
    ngClass.lt-md="pl-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start start">
    <label class="font-weight-bold control-label asterisk">
      New Institution
    </label>

    <input
      class="form-control input-sm"
      formControlName="keptInstitutionSearch"
      [typeahead]="fields.institutions"
      [typeaheadMinLength]="0"
      [typeaheadScrollable]="true"
      [typeaheadOptionsInScrollableView]="10"
      typeaheadOptionField="name"
      typeaheadValueField="id"
      typeaheadWaitMs="200"
      (keyup)="updateForm('keptInstitutionId', null)"
      (click)="keptInstitution.select()"
      (typeaheadOnSelect)="updateForm('keptInstitutionId', $event.item.id)"
      placeholder="Select an institution to merge to"
      #keptInstitution>
    <div
      *ngIf="form.controls.keptInstitutionSearch?.dirty &&
        form.controls.keptInstitutionId?.errors?.required"
      fxLayout
      class="help-block mb-0">
      Please select an institution.
    </div>
  </div>

  <div class="mb-4" fxLayout fxLayoutGap="10px" fxLayoutAlign="center center" fxFlex="100">
    <button class="btn btn-sm btn-primary" (click)="submit()">
      Merge
    </button>

    <button class="btn btn-sm btn-default" (click)="reset()">
      Cancel
    </button>
  </div>

</form>

<!-- <pre>{{ form.value | json }}</pre> -->