<alert *ngFor="let message of messages" [type]="message.type" dismissible="true">
  <div [innerHTML]="message.content"></div>
</alert>

<form fxLayout="row wrap" [formGroup]="form" autocomplete="off">

  <div fxLayout="row wrap" fxFlex="100" class="border mb-4">


    <div class="px-4 py-3" [ngClass]="{'has-error': form.controls.operationType.dirty && form.controls.operationType.invalid}" fxLayout="row wrap" fxFlex="50" fxFlex.lt-md="100" fxLayoutAlign="start center">

      <label ngClass.lt-md="mb-2" class="m-0 mr-4 font-weight-bold">
        Operation Type
      </label>

      <label fxLayout fxFlex="nogrow" fxFlex.lt-md="100" fxLayoutAlign="start center" ngClass.lt-md="mb-2" class="m-0 mr-4 font-weight-normal">
        <input class="mr-1" type="radio" value="add" id="operationTypeAdd" formControlName="operationType">
        Add
      </label>

      <label fxLayout fxFlex="nogrow" fxFlex.lt-md="100" fxLayoutAlign="start center" ngClass.lt-md="mb-2" class="m-0 font-weight-normal">
        <input class="mr-1" type="radio" value="update" id="operationTypeUpdate" formControlName="operationType">
        Update
      </label>

      <div *ngIf="form.controls.institutionId.dirty && form.controls.institutionId?.errors?.required" fxLayout fxFlex="100" class="help-block mb-0">
        &zwj;
      </div>
    </div>


    <div
      class="px-4 py-3"
      [ngClass]="{'has-error': (form.controls.name.dirty && form.controls.name.invalid) ||
        (form.controls.institutionSearch.dirty && form.controls.institutionId.invalid)}"
      fxLayout="row wrap"
      fxFlex="50"
      fxFlex.lt-md="100"
      fxLayoutAlign="space-between center">
      <label
        fxFlex="30"
        fxFlex.lt-md="100"
        class="m-0 font-weight-bold control-label asterisk">
        Institution Name
      </label>
      <input
        *ngIf="form.value.operationType === 'add'"
        fxFlex="69"
        fxFlex.lt-md="100"
        class="form-control input-sm"
        maxlength="250"
        formControlName="name"
        placeholder="250 characters maximum">
      <input
        *ngIf="form.value.operationType === 'update'"
        fxFlex="69"
        fxFlex.lt-md="100"
        class="form-control input-sm"
        formControlName="institutionSearch"
        [typeahead]="fields.institutions"
        [typeaheadMinLength]="0"
        [typeaheadScrollable]="true"
        [typeaheadOptionsInScrollableView]="10"
        typeaheadOptionField="name"
        typeaheadValueField="id"
        typeaheadWaitMs="200"
        (keyup)="updateForm('institutionId', null)"
        (typeaheadOnSelect)="updateForm('institutionId', $event.item.id)"
        placeholder="Search for an institution">
      <div
        *ngIf="(form.controls.name.dirty && form.controls.name?.errors?.required)"
        fxLayout
        fxFlex="100"
        class="help-block mb-0">
        This field is required.
      </div>
      <div
        *ngIf="(form.controls.institutionSearch.dirty && form.controls.institutionId?.errors?.required)"
        fxLayout
        fxFlex="100"
        class="help-block mb-0">
        Select an institution.
      </div>
    </div>
  </div>




  <div
    class="mb-4"
    [ngClass]="{
      'has-error': form.controls.country.dirty && form.controls.country.invalid,
      'pr-4': true
    }"
    ngClass.lt-md="pr-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start start">
    <label
      for="country"
      class="font-weight-bold control-label asterisk">
      Country
    </label>
    <select
      class="form-control input-sm"
      id="country"
      formControlName="country">
      <option
        [ngValue]="null"
        *ngIf="!fields.countries"
        hidden>
        Loading...
      </option>
      <option
        [ngValue]="null"
        *ngIf="fields.countries"
        hidden>
        Select a country
      </option>
      <option *ngFor="let country of fields.countries" [ngValue]="country.abbreviation">
        {{ country.name }}
      </option>
    </select>
    <div
      *ngIf="form.controls.country.dirty && form.controls.country?.errors?.required"
      class="help-block mb-0">
      This field is required.
    </div>
  </div>

  <div
    class="mb-4"
    [ngClass]="{
      'has-error': form.controls.city.dirty && form.controls.city.invalid,
      'pl-4': true
    }"
    ngClass.lt-md="pl-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start start">
    <label class="font-weight-bold control-label asterisk">
      City
    </label>
    <input
      class="form-control input-sm"
      formControlName="city"
      placeholder="Enter city"
      autocomplete="disabled">
    <div
      *ngIf="form.controls.city.dirty &&
        form.controls.city?.errors?.required"
      fxLayout
      class="help-block mb-0">
      This field is required.
    </div>

    <div
      *ngIf="form.controls.city.dirty &&
        form.controls.city.errors?.email &&
        !form.controls.city.errors?.required"
      fxLayout
      class="help-block mb-0">
      This field should be in a valid format.
    </div>
  </div>


  <div
    class="mb-4"
    [ngClass]="{
      'has-error': form.controls.state.dirty && form.controls.state.invalid,
      'pr-4': true
    }"
    ngClass.lt-md="pr-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start start">
    <label class="font-weight-bold control-label">
      State
    </label>

    <input
      autocomplete="disabled"
      class="form-control input-sm"
      formControlName="state"
      [typeahead]="fields?.states?.filter(stateCountryFilter(form.value.country))"
      [typeaheadMinLength]="0"
      [typeaheadScrollable]="true"
      [typeaheadOptionsInScrollableView]="5"
      typeaheadOptionField="abbreviation"
      placeholder="Enter state">
    <div
      *ngIf="form.controls.state.dirty &&
        form.controls.state?.errors?.required"
      fxLayout
      class="help-block mb-0">
      This field is required.
    </div>
  </div>


  <div
    class="mb-4"
    [ngClass]="{
      'has-error': form.controls.postal.dirty && form.controls.postal.invalid,
      'pl-4': true
    }"
    ngClass.lt-md="pl-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start start">
    <label class="font-weight-bold control-label">
      Postal Code
    </label>
    <input
      autocomplete="disabled"
      class="form-control input-sm"
      formControlName="postal"
      placeholder="Enter postal code">
    <div
      *ngIf="form.controls.postal.dirty &&
        form.controls.postal?.errors?.required"
      fxLayout
      class="help-block mb-0">
      This field is required.
    </div>
  </div>



  <div
    class="mb-4"
    [ngClass]="{
      'has-error': (form.controls.latitude.dirty && form.controls.latitude.invalid)
        || (form.controls.longitude.dirty && form.controls.longitude.invalid),
      'pr-4': true
    }"
    ngClass.lt-md="pr-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start fill">
    <label
      class="font-weight-bold control-label asterisk">
      Map Coordinates
    </label>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
      fxLayoutGap.lt-md="0">
      <input
        fxFlex="48%"
        fxFlex.lt-md="100"
        type="number"
        class="form-control input-sm"
        ngClass.lt-md="mb-3"
        max="90"
        min="-90"
        formControlName="latitude"
        placeholder="Enter latitude (eg: 32.30642)">

      <input
        fxFlex="48%"
        fxFlex.lt-md="100"
        type="number"
        class="form-control input-sm"
        max="180"
        min="-180"
        formControlName="longitude"
        placeholder="Enter longitude (eg: -122.61458)">
    </div>

    <div
      *ngIf="(form.controls.longitude.dirty && form.controls.longitude?.errors?.required)
        || (form.controls.latitude.dirty && form.controls.latitude?.errors?.required)"
      class="help-block mb-0">
      Both fields are required.
    </div>

    <div
      *ngIf="form.controls.latitude.dirty
        && (form.controls.latitude?.errors?.min || form.controls.latitude?.errors?.max)"
      class="help-block mb-0">
      Latitude should be a decimal number between -90.0 and 90.0 inclusive.
    </div>

    <div
      *ngIf="form.controls.longitude.dirty
        && (form.controls.longitude?.errors?.min || form.controls.longitude?.errors?.max)"
      class="help-block mb-0">
      Longitude should be a decimal number between -180.0 and 180.0 inclusive.
    </div>
  </div>

  <div
    class="mb-4"
    [ngClass]="{
      'has-error': form.controls.postal.dirty && form.controls.postal.invalid,
      'pl-4': true
    }"
    ngClass.lt-md="pl-0"
    fxLayout="column"
    fxFlex="50"
    fxFlex.lt-md="100"
    fxLayoutAlign="start start">
    <label class="font-weight-bold control-label">
      GRID
    </label>
    <input
      class="form-control input-sm"
      formControlName="grid"
      placeholder="Enter GRID">
    <div
      *ngIf="form.controls.grid.dirty &&
        form.controls.grid?.errors?.required"
      fxLayout
      class="help-block mb-0">
      This field is required.
    </div>
  </div>

  <div class="mb-4" fxLayout fxLayoutGap="10px" fxLayoutAlign="center center" fxFlex="100">
    <button class="btn btn-sm btn-primary" (click)="submit()">
      Save
    </button>

    <button class="btn btn-sm btn-default" (click)="reset()">
      Cancel
    </button>
  </div>

</form>

<!-- <pre>{{ form.value | json }}</pre> -->
