{% set isManager="false" %}
{% for role in user.roles %}
    {% if (role == "manager") or (role == "administrator") %}
        {% set isManager="true" %}
    {% endif %}
{% endfor %}

<div id="events-container">
  <div class="clearfix">
    <h1 style="float:left;">ICRP Events</h1>
		{% if isManager=="true" %}
		<span style="float:right;">
				<a href="/block/31/?destination=events" id="icrp-events-edit-link" class="events-edit-link">Edit</a>
		</span>
		{% endif %}
	</div>
    <div>
      <div class="row">
        <div class="col-8 col-md-8">
			{{ drupal_block('icrpevents') }}
        </div>
        <div class="col-4 col-md-4">
          <div class="card bg-light mb-3" id="events-and-resources-card">
            <div class="card-header text-center">Meeting Report Title</div>

            <div class="card-body">
              <p class="card-text">
                <table id="last-meeting-report-table">
                  <tr>
                    <td rowspan="2">
                    	<a id="last-meeting-report-a-img" href="#" target="_blank" title="Latest Meeting Report">
                      <img id="last-meeting-report-img" alt="Newsletter" src="" /></a>
                    </td>
                    <td>
                      <span id="last-meeting-report-text">Summary of annual meeting"</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span><a id="last-meeting-report-pdf" target="icrp_last_meeting_newsletter" href="https://icrpartnership.org/sites/default/files/library/uploads/7343.pdf" target="_blank">Download PDF</a></span>
                    </td>
                  </tr>
                </table>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>