<!-- Source: https://www.drupal.org/node/2788835 -->
<div style="padding-bottom:25px;">
<form{{ attributes }}>
    <div class="form--inline clearfix form-group">
        <div class="row">
            <div class="col-sm-6">
                {{ form.name }}
            </div>
            <div class="col-sm-6">
                {{ form.committee }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form.action.submit }}
        </div>
    </div>
</form>
</div>
