<h1>ICRP Website Survey Results</h1>
<p>
	<div><b>Suvery Period:</b>:  {{ survey_period }}</div>
	<div><b>Number of Responses:</b>  {{ number_of_responses }}
</p>
<div class="container survey">
	<div class="row">
		<div class="col-md-4">
			<div>
				<h3>Reasons for Visit</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div>
				<h3>Background</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div>
				<h3>Famililarity</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div>
				<h3>Region</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div>
				<h3>Helpful?</h3>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="pull-right">
				<a class="btn btn-default" href="#"><i class="fas fa-download"></i> Export</a>
			</div>
		</div>
	</div>
	<hr>
</div>

