{% spaceless %}
{% autoescape true %}

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script><script type="text/javascript" src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<title></title>
<!-- Start your code here -->
<div class="container">
<div class="row">
<h2>Current Partners</h2>

<p>Describe the different types of organizations:</p>

<p>&nbsp;</p>

<ul>
	<li>Partner</li>
	<li>Associated Organization</li>
	<li>Funding Organization</li>
</ul>

<p>&nbsp;</p>

<p style="border-bottom: 1px solid #dddddd;padding-bottom:20px;">&nbsp;</p>

<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#home">Map</a></li>
	<li><a data-toggle="tab" href="#menu1">List of Partners</a></li>
</ul>

<p>&nbsp;</p>

<div class="tab-content">
<div class="tab-pane fade in active" id="home">
<p style="padding:20px;"><iframe height="480" src="https://www.google.com/maps/d/u/0/embed?mid=1h2KiS71C4FDBVmIOJu35yzcz7gM" width="100%"></iframe></p>
</div>

<div class="tab-pane fade" id="menu1">
<p style="padding:20px;">&nbsp;</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Organization Web Site</th>
			<th>Associated Organization</th>
			<th>Type of Organization</th>
			<th>Funding</th>
			<th>Types of Cancer</th>
			<th>Mission</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://www.avonfoundation.org/">California Breast Cancer Research Program</a></td>
			<td>ICRP, ABS, Steven Corp</td>
			<td>Partner</td>
			<td>Government</td>
			<td>Breast</td>
			<td>The mission of the CBCRP is to eliminate breast cancer.</td>
		</tr>
		<tr>
			<td><a href="http://komen.org/">Susan G. Komen</a></td>
			<td>Susan Inc.</td>
			<td>Partner</td>
			<td>Government</td>
			<td>Breast</td>
			<td>The mission of the Susan G. Komen foundation is to raise awareness and raise funds to eliminate breast cancer.</td>
		</tr>
		<tr>
			<td><a href="http://cancer.org">American Cancer Society</a></td>
			<td>ACS</td>
			<td>Partner</td>
			<td>Government</td>
			<td>All Cancers</td>
			<td>Cure cancer</td>
		</tr>
		<tr>
			<td><a href="http://www.cancer.ca">Canadian Cancer Research Alliance</a></td>
			<td>(Representing 42 organizations)</td>
			<td>Partner</td>
			<td>Government</td>
			<td>All Cancers</td>
			<td>Cure cancer</td>
		</tr>
		<tr>
			<td><a href="https://www.avonfoundation.org/">Avon Foundation for Women</a></td>
			<td>Avon</td>
			<td>Partner</td>
			<td>Commercial</td>
			<td>Breast Cancers</td>
			<td>Since 1992, the Avon Breast Cancer Crusade has been working to help to prevent, treat, and ultimately eradicate breast cancer.</td>
		</tr>
		<tr>
			<td><a href="nih.gov">National Institute of Health</a></td>
			<td>(Representing 25 organizations)</td>
			<td>Partner</td>
			<td>Government</td>
			<td>All Cancers</td>
			<td>Cure cancer</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>
</div>
<!-- End your code here -->



{% endautoescape %}
{% endspaceless %}
