{% spaceless %}
{% autoescape true %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<div id="root"></div>

{% endautoescape %}
{% endspaceless %}
