{% spaceless %}
{% autoescape true %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<button id="funding_org_export" class="btn btn-default btn-sm margin-top margin-bottom">
  <div class="display-flex align-items-center">
    <svg width="12px" height="12px" viewBox="0 0 16 16">
      <g stroke="none" stroke-width="1" fill-rule="evenodd" fill="#000000">
        <path d="M4,6 L7,6 L7,0 L9,0 L9,6 L12,6 L8,10 L4,6 L4,6 Z M15,2 L11,2 L11,3 L15,3 L15,11 L1,11 L1,3 L5,3 L5,2 L1,2 C0.45,2 0,2.45 0,3 L0,12 C0,12.55 0.45,13 1,13 L6.34,13 C6.09,13.61 5.48,14.39 4,15 L12,15 C10.52,14.39 9.91,13.61 9.66,13 L15,13 C15.55,13 16,12.55 16,12 L16,3 C16,2.45 15.55,2 15,2 L15,2 Z" id="Shape"></path>
      </g>
    </svg>
    <span class="margin-left">Export</span>
  </div>
</button>
<div id="funding_org_root"></div>

{% endautoescape %}
{% endspaceless %}
