{% spaceless %}
{% autoescape %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<div id="funding_org_root"></div>

{% endautoescape %}
{% endspaceless %}
