<div id="project-view-component" data-project="{{ project_id }}" data-title="{{ data_title }}" data-source="{{ data_source }}"></div>
<div id="google_translate_element" style="text-align: right"></div>
