.noscroll {
  overflow-y: hidden;
}

table.data-table > thead > tr > th:nth-child(1),
table.data-table > tbody > tr > td:nth-child(1) {
  width: 200px;
  max-width: 200px;
}

table.data-table > thead > tr > th:nth-child(2),
table.data-table > tbody > tr > td:nth-child(2), 
table.data-table > thead > tr > th:nth-child(3),
table.data-table > tbody > tr > td:nth-child(3) {
  width: 140px;
  max-width: 140px;
}


table.data-table > thead > tr > th:nth-child(4),
table.data-table > tbody > tr > td:nth-child(4) {
  width: 1000px;
  max-width: 1000px;
}
