table.data-table {
  width: 100%;
  border-collapse: collapse;
}

table.data-table > tbody > tr:nth-child(even) {
  background-color: #f9fafd;
}

table.data-table > tbody > tr:hover {
  background-color: #ebeff7;
}

table.data-table > thead > tr > th {
  min-width: 300px;
  white-space: nowrap;
  text-align: left;
  border: 1px solid #dde4f2;
  background-color: #446cb3;
  color: white;
}

table.data-table > thead > tr > th:first-child {
  width: 40%;
}

table.data-table > thead > tr > th,
table.data-table > tbody > tr > td {
  padding: 4px 10px;
}


table.data-table > tbody > tr > td > a {
  color: #2574A9;
  text-decoration: none;
}

table.data-table > tbody > tr > td > a:hover {
  text-decoration: underline;
}

table.data-table > tbody > tr > td > a:visited {
  color: #34495E;
}
