{#
/**
 * @file
 * Default theme implementation to display an external entity.
 *
 * Available variables:
 * - content: Items for the content of the entity (fields).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - external_entity: The external entity that is displayed.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes}}>
  {{ content }}
</div>
