<div
  fxLayout
  fxLayoutWrap
  fxLayoutGap="15px">

  <div
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%"
    class="form-group">
    <label>Partner</label>
    <select class="form-control input-sm">
      <option>Select a partner</option>
    </select>
  </div>

  <div
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%"
    class="form-group">
    <label>Joined Date</label>
    <input class="form-control input-sm">
  </div>

  <div
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%"
    class="form-group">
    <label>Country</label>
    <select class="form-control input-sm">
      <option>Select a country</option>
    </select>
  </div>

  <div
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%"
    class="form-group">
    <label>Email</label>
    <input class="form-control input-sm">
  </div>

  <div
    fxFlex="100%"
    class="form-group">
    <label>Description</label>
    <textarea class="form-control input-sm"></textarea>
  </div>

  <div
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%"
    class="form-group">
    <label>Sponsor Code</label>
    <input class="form-control input-sm">
  </div>

  <div
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%"
    class="form-group">
    <label>Website</label>
    <input class="form-control input-sm">
  </div>

  <div
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%"
    class="form-group">
    <label>Map Coordinates</label>

    <div
      fxLayout
      fxLayoutWrap
      fxLayoutGap="15px"
      fxLayoutGap.lt-md="0">

      <input
        fxFlex="calc(50% - 15px)"
        fxFlex.lt-md="100%"
        class="form-control input-sm mb-5">

      <input
        fxFlex="calc(50% - 15px)"
        fxFlex.lt-md="100%"
        class="form-control input-sm mb-5">
    </div>
  </div>

  <div
    fxFlex="calc(50% - 15px)"
    fxFlex.lt-md="100%"
    class="form-group">
    <label>Logo File</label>

    <input id="logoFileInput" type="file" class="hidden">

    <label for="logoFileInput">
      <div fxLayout>
        <input class="form-control input-sm">
        <button class="btn btn-default btn-sm">Browse...</button>
      </div>
    </label>



  </div>

  <div
    fxFlex="100%"
    class="form-group">
    <label>Note</label>
    <textarea class="form-control input-sm"></textarea>
  </div>

  <div fxFlex="100%">
    <label>
      <input type="checkbox">
      Agreed to terms and conditions
    </label>
  </div>

  <div fxFlex="100%">
    <label>
      <input type="checkbox">
      Add as a partner funding organization
    </label>
  </div>

  <div
    fxFlex="100%"
    fxLayout
    fxLayoutWrap
    fxLayoutGap="15px"
    class="bordered form-group padded mt-5">

    <div
      fxFlex="calc(50% - 15px)"
      fxFlex.lt-md="100%"
      class="form-group">

      <label>Organization Type</label>
      <select class="form-control input-sm">
        <option>Select organization type</option>
      </select>
    </div>

    <div
      fxFlex="calc(50% - 15px)"
      fxFlex.lt-md="100%"
      class="form-group">

      <label>Currency</label>
      <select class="form-control input-sm">
        <option>Select currency</option>
      </select>
    </div>

    <div fxFlex="100%">
      <label>
        <input type="checkbox">
        Annualized Funding
      </label>
    </div>
  </div>

  <div
    fxFlex="100%"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">
    <button class="btn btn-primary">Save</button>
    <button class="btn btn-default">Cancel</button>
  </div>

</div>