input[type="radio"] {
  vertical-align: -2px;
}

input[type="checkbox"] {
  vertical-align: -2px;
}


.native-font {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-size: 14px;
  color: #444;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

@media (min-width: 550px) {

  .column,
  .columns {
    float: left;
    padding-left: 2%;
  }

  .column:first-child,
  .columns:first-child {
    padding-left: 0;
  }

  .one.column,
  .one.columns                    { width: 8.33333333333%; }
  .two.columns                    { width: 16.6666666667%; }
  .three.columns                  { width: 25%;            }
  .four.columns                   { width: 33.3333333333%; }
  .five.columns                   { width: 41.6666666667%; }
  .six.columns                    { width: 50%;            }
  .seven.columns                  { width: 58.3333333333%; }
  .eight.columns                  { width: 66.6666666667%; }
  .nine.columns                   { width: 75.0%;          }
  .ten.columns                    { width: 83.3333333333%; }
  .eleven.columns                 { width: 91.6666666667%; }
  .twelve.columns                 { width: 100%;           }
}

.input {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 6px;
  
  border: 1px solid #D1D1D1;
  background-color: white;
  border-radius: 2px;
  box-sizing: border-box;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

label {
  color: #666;
}

.input.text:focus {
  outline: none;
  box-shadow: 0 0 3px #BBB;
}

input:-ms-input-placeholder { /* Edge */
    color: #AAA !important;
    font-weight: 400;
}