<input
  type="text"
  [class]="inputClass"
  [ngClass]="{open: open}"
  [placeholder]="placeholder"
  [readonly]="!open"
  (keyup)="handleKeyUp($event)"
  (focus)="handleFocus($event)"
  (blur)="handleBlur($event)"
  autocomplete="off"
  #input>

<span style="position: absolute; right: 10px; top: 10px; transform: rotate(45deg); font-size:8px">◢</span>

<div
  class="dropdown-container"
  [ngClass]="dropdownContainerClass"
  *ngIf="open">

  <div
    class="dropdown-option"
    [class]="dropdownOptionClass"
    *ngFor="let option of filteredOptions; let idx = index;"
    [ngClass]="{'selected': idx == selectedIndex, dropdownOptionClass: true}"
    (mouseover)="selectedIndex = idx"
    (click)="handleOptionClick(option, idx)"
    [innerHTML]="boldMatch(input.value, option.label)">
  </div>

</div>