@media(max-width: 768px) {
    .nav-tabs > li {
        display: block;
        width: 100%;
    }

    .nav.nav-tabs {
        margin-right: -2px;
        border-bottom: none;
    }

    .tab-content {
        border-top: 1px solid #dddddd;
    }
}

.tab-content {
    padding: 15px;
    border: 1px solid #dddddd;
    border-top: none;
}

.table-responsive {
    position: relative;
    border: none;
}

.d-flex-responsive {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mv-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mr-40 {
    margin-right: 40px;
}