
<icrp-summary-panel
  [toggleEnabled]="!loading && displayParameters && displayParameters.length"
>
  <div left-header>
    <span [innerHTML]="getSummary()">
    </span>
  </div>
  <div right-header class="bold blue" >
    <div *ngIf="projectCount && relatedProjectCount">
      <span tooltip="Parent projects">
        Total Projects: {{ projectCount.toLocaleString() }}
      </span>
      /
      <span tooltip="Including linked sub-projects or supplements">
        Total Related Projects: {{ relatedProjectCount.toLocaleString() }}
      </span>
    </div>
  </div>

  <div class="table-responsive vertical-padding" *ngIf="!loading">
    <table class="display-parameters">
      <tbody>
        <tr *ngFor="let row of displayParameters">
          <td><b>{{ getDisplayName(row[0]) }}</b></td>
          <td>{{ row[1] }}</td>
        </tr>
      </tbody>
    </table>
  </div>


</icrp-summary-panel>
