
<icrp-summary-panel
  [toggleEnabled]="!loading && displayParameters && displayParameters.length"
>
  <div left-header>
    <span [innerHTML]="getSummary()">
    </span>
  </div>
  <div right-header class="bold blue" >
    <div *ngIf="numResults && analytics.project_counts_by_country && analytics.project_counts_by_country.results_count">
      <span tooltip="Parent projects">
        Total Projects: {{ numResults.toLocaleString() }}
      </span>

      <span *ngIf="analytics.project_counts_by_country && analytics.project_counts_by_country.results_count" tooltip="Including linked sub-projects or supplements">
        / Total Related Projects: {{ analytics.project_counts_by_country && analytics.project_counts_by_country.results_count.toLocaleString() }}
      </span>
    </div>
  </div>

  <div class="table-responsive vertical-padding" *ngIf="!loading">
    <table class="display-parameters">
      <tbody>
        <tr *ngFor="let row of displayParameters">
          <td><b>{{ getDisplayName(row[0]) }}</b></td>
          <td>{{ row[1] }}</td>
        </tr>
      </tbody>
    </table>
  </div>


</icrp-summary-panel>
