.bold {
  font-weight: bold;
  font-size: 16px;
}

.orange {
  color: orange;
}

.blue {
  color: steelblue;
}

.vertical-padding {
  padding: 10px 0;
}

table.display-parameters {
  border: none;
  margin-bottom: none;

}

table.display-parameters  tbody  tr  td {
  min-width: 40px;
  padding-right: 10px;
}

.responsive-wrapper {
    width: 100%;
    min-height: .01%;
    overflow-y: hidden;
    overflow-x: auto;  
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

