.cursor-pointer {
    cursor: pointer;
}
.mr-40 {
    margin-right: 40px;
}
.mr-5 {
    margin-right: 5px;
}
.mv-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.noselect {
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.table-responsive {
    position: relative;
    border: none;
}

.radio-underlined {
    position: relative;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.radio-underlined input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-underlined input ~ .radio-underlined-label {
    border: 4px solid transparent;
    border-left: 0;
    border-right: 0;
    padding: 6px 2px;
}

.radio-underlined input:checked ~ .radio-underlined-label {
    border-bottom: 4px solid steelblue;
}

.text-overflow-ellipsis {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}