body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}