<div id="newsletter-container" style="display:none;">
	<div style="display: flex; align-items: center">
		<i style="color: #3371a8; width: 32px; height: 32px; margin: 0 4px 0 -4px;" class="far fa-newspaper" data-fa-transform="shrink-8" data-fa-mask="fas fa-circle"></i>
		<span class="aside-title">Newsletter</span>
	</div>
	<div id="last_newsletter"></div>
</div>