.test-border {
  border: 1px solid red;
}

.tab-container {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

 .padding-top {
    padding-top: 10px;
}

/** Smaller Screens < 992 px */
 /* @media (max-width: 992px) {
}  */

/** Medium Screens >= 992 px */
/* @media (min-width: 992px) {
} */

/** Medium screens and below <1200 px */
/* @media (max-width: 1200px) {
} */

/** Large Screens >= 1200 px */
/* @media (min-width: 1200px) {

  }
} */


/** Smaller Screens < 768px */
@media (max-width: 768px) {
  .responsive-pull-right {
    position: relative;
    display: block;
    left: 10px;
    top: 0px;

  }
}

@media (min-width: 769px) {
  .responsive-pull-right {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
  }
}

.centered-button-bar {
  padding-top: 10px;
}

.centered {
  text-align:center;
}

.right-aligned {
  text-align: right;
}

/** Datepicker css overrides */

.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}

.red-text {
  color: red;
}

.success-list-item {
  color: green;
}

.danger-list-item {
  color: red;
  text-decoration: underline;
}

 .pagination {
  margin-top: 0;
  margin-bottom: 5px;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-stretch {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  flex-flow: row wrap;
}

.panel-flex {
    flex-grow: 1 !important;
    margin: 5px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no-wrap {
  white-space: nowrap;
  text-align: left;
}

.horizontal-margin {
  margin-left: 2px;
  margin-right: 2px;
}

.btn {
  min-width: 70px;
}

.panel {
  border-radius: 0;
  margin-bottom: 5px;
}

.category-panel {
  min-width: 255px;
  white-space: nowrap;
}

.category-panel-list {
  padding: 0px 15px;
}

.react-grid-Canvas {
  overflow-y: hidden !important;
}

.modal-body {
  padding: 0px 15px;
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.standard-font-size {
  font-weight: normal !important;
  font-size: 15px !important;
}

.list-group-item {
  border: none !important;
}

select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.validation-summary-panel {
  border: 1px solid #ccc;
  padding-top: 10px;
}

.forty-percent-height {
  height: 40%;
}

.max-height {
  height: 100%;
}

.row-centered {
  display: flex;
  align-content: center;
}