<div class="col-md-3">
  <app-search-form 
    (search)="updateResults($event)" 
    (mappedSearch)="updateMappedParameters($event)">
  </app-search-form>
</div>

<div class="col-md-9">
  <app-search-results 
    [authenticated]="loggedIn"
    [results]="results"
    [analytics]="analytics" 
    [loading]="loading" 
    [loadingAnalytics]="loadingAnalytics" 
    [searchParameters]="mappedParameters"
    (paginate)="paginate($event)" 
    (sort)="sort($event)"
    (updateFundingYear)="updateServerAnalyticsFunding($event)"
    >
  </app-search-results>
</div>