#library.tab-content > #library-view.tab-pane,
#library .admin,
#library .partner,
#library .private,
#library .public,
#library-display .frame:not(.archived) .item-wrapper.archived,
#library-display .frame.preview .item-wrapper .edit-file,
#library-display .frame.preview .item-wrapper .archive-file,
#library-display .frame.preview .item-wrapper .restore-file,
#library-display .frame .item-wrapper:not(.archived) ~ .item-wrapper:last-child,
#library-display .frame.archived .item-wrapper.archived ~ .item-wrapper:last-child,
#library-parameters.folder > :not(.folder),
#library-parameters .not_public ~ div {
  display: none;
}
#library.tab-content > #library-view.active,
#library.admin .admin,
#library.partner .partner,
#library.private .private,
#library.public .public {
  display: block;
}
#library-search .browse-header:after,
#library-search:after,
#library-display .frame.preview .item:after,
#library-view-table:after {
  content: '';
  display: block;
  clear: both;
}
#library {
  padding: 0px 2em;
  margin: 0px auto 1em;
  max-width: 100em;
}
#library header {
  margin-bottom: 2em;
}
#library-view-table > *,
#library-search .browse > *,
#library-search .searchbar,
#library-display .frame.preview .item {
  border: 1px solid #E8E8E8;
}
#library-search {
  background: #FBFBFB;
  min-height: 38.5em;
}
#library-search .input-group {
  border-spacing: 0px;
}
#library-search .browse {
  background: white;
}
#library-search .browse > * {
  border-width: 1px 1px 0px;
  margin: 0px;
}
#library-search .browse-header > * {
  margin: 5px;
}
#library-search .browse-header label {
  font-weight: normal;
}
#library-search .browse-header h4 {
  float: left;
}
#library-search .browse-header > div {
  float: right;
  height: 1em;
}
#library-search .browse-header > div > * {
  display: inline;
  line-height: 1em;
  margin: 0px;
  vertical-align: middle;
}
#library-search .browse > *:last-child {
  border-width: 1px;
}
#library-search .searchbar {
  border-width: 0px 0px 1px;
  margin: 0px 5px 10px;
  padding: 1em 1em 10px;
}
#library-search .browse {
  margin: 0px 1em 1em;
}
#library-tree {
  max-height: 100%;
  overflow: auto;
  padding: 5px 0px 0px;
  width: 18.85em;
}
#library-management {
  padding: 1em;
}
#library-management > * {
  margin: 5px 0px;
}
#library-management > *:before,
#library-management2 > *:before,
#library-display .frame:not(.preview) .item div:before {
  content: '';
  display: block;
  float: left;
  margin-right: 5px;
}
#library-management > *:before,
#library-management2 > *:before {
  height: 1.4em;
  width: 1.45em;
}
#library.admin #library-management .admin,
#library.partner #library-management .partner,
#library.admin #library-management2 .admin,
#library.partner #library-management2 .partner {
  display: inline-block;
  margin-left: 1em;
}
#library #library-management > *:first-child,
#library #library-management2 > *:first-child {
  margin-left: 0px;
}
#library-create-root-folder:before,
#library-create-folder:before {
  background: url('folder-add.png') no-repeat 1px 0px/contain;
}
#library-edit-folder:before {
  background: url('folder-edit.png') no-repeat 1px 0px/contain;
}
#library-display {
  margin: 1em 0px 0px;
  padding: 1em 0px 5em;
}
#library-display > div:first-child {
  min-height: 32em;
}
#library-display .frame {
  column-gap: 1em;
  column-width: 30em;
  overflow: auto;
  width: 100%;
}
#library-display .frame.preview .item-wrapper{
  break-inside: avoid;
}
#library-display .frame.preview .item {
  break-inside: avoid;
  margin: 0px 0px 1em;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#library-display .frame.preview .item h5 {
  background: #E8E8E8;
  font-weight: bold;
  margin: 0px 0px 10px;
  padding: 5px 1em;
  text-align: center;
  white-space: nowrap;
}
#library-display .frame.preview .item img {
  float: left;
  height: 200px;
  margin: 0px 10px 10px;
  width: 150px;
}
#library-display .frame.preview .item p {
  margin-bottom: 2em;
  max-height: 10em;
  overflow: auto;
}
#library-display .frame.preview .item div {
  bottom: 10px;
  left: 170px;
  position: absolute;
  right: 10px;
  text-align: center;
}
#library-display .frame:not(.preview) {
  border-spacing: 0px;
  display: table;
}
#library-display .frame:not(.preview) .item-wrapper {
  display: table-row-group;
}
#library-display .frame:not(.preview) .item {
  display: table-row;
}
#library-display .frame:not(.preview) .item div {
  display: table-cell;
  font-size: 1em;
  height: 1em;
  line-height: 1em;
  padding: 5px 10px;
}
#library-display .frame:not(.preview) .item div:before {
  background: url('file.png') no-repeat 1px 0px/contain;
  height: 1.1em;
  width: 1.2em;
}
#library.admin #library-display .frame:not(.preview) .item button.admin {
  border: 0px;
  background: transparent;
  display: table-cell;
  margin: 5px;
  padding: 0px;
}
#library-display .frame:not(.preview) .item button:before {
  content: '';
  display: block;
  height: 1.1em;
  width: 1.3em;
}
#library-display .frame:not(.preview) .item .edit-file:before {
  background: url('file-edit.png') no-repeat 1px 0px/contain;
}
#library-display .frame:not(.preview) .item .archive-file:before {
  background: url('file-remove.png') no-repeat 1px 0px/contain;
}
#library-display .frame:not(.preview) .item .restore-file:before {
  background: url('file-add.png') no-repeat 1px 0px/contain;
}
#library-display .frame .item.archived a {
  color: grey;
}
#library-management2 {
  bottom: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}
#library-upload-file:before {
  background: url('file-upload.png') no-repeat 1px 0px/contain;
}
#library-archive-folder:before {
  background: url('folder-remove.png') no-repeat 1px 0px/contain;
}
#library-files {
  font-size: 1.5em;
  margin: 0px auto;
  width: 40em;
}
#library-controls {
  display: table;
  margin-top: 2em;
  width: 100%;
}
#library-controls div {
  display: table-cell;
  text-align: center;
}
#library-parameters {
  border-spacing: 5px;
  display: table;
  margin: 0px auto;
  width: 40em;
}
#library-parameters .required {
  position: relative;
}
#library-parameters .required:before {
  color: #F00;
  content: '* ';
  font-weight: bold;
  left: -1em;
  position: absolute;
}
#library-parameters div {
  display: table-row;
}
#library-parameters label {
  display: table-cell;
  vertical-align: top;
  width: 7em;
}
#library-parameters input:not([type="checkbox"]),
#library-parameters select,
#library-parameters textarea {
  display: table-cell;
  text-align: left;
  width: 100%;
}
#library-upload {
  margin: 20px auto 0px;
  width: 20em;
}

@media (min-width: 1200px) {
  #library-view-table {
    display: table;
    width: 100%;
  }
  #library-view-table {
    margin: 0px -2em 0px -1em;
    border-spacing: 1em 0px;
  }
  #library-search {
    display: table-cell;
    width: 21em;
  }
  #library-display {
    display: table-cell;
    margin: 0px;
    padding: 1em 1em 5em;
    position: relative;
  }
  #library-display .frame.preview .item {
    width: 32em;
  }
}
