#library.tab-content > #library-view.tab-pane,
#library .admin,
#library .partner,
#library .private,
#library .public,
#library-display .frame:not(.archived) .item.archived,
#library-display .frame.preview .item .edit-file,
#library-display .frame.preview .item .archive-file,
#library-display .frame.preview .item .restore-file,
#library-display .frame .item:not(.archived) ~ .item:last-child,
#library-display .frame.archived .item.archived ~ .item:last-child,
#library-display .frame:not(.preview) .item img,
#library-display .frame:not(.preview) .item p,
#library-parameters.folder > :not(.folder),
#library-parameters .not_public ~ div {
  display: none;
}
#library.tab-content > #library-view.active,
#library.admin .admin,
#library.partner .partner,
#library.private .private,
#library.public .public {
  display: block;
}
#library-search .browse-header:after,
#library-search:after,
#library-display .frame.preview .item:after,
#library-view:after {
  content: '';
  display: block;
  clear: both;
}
#library {
  padding: 0px 2em;
  margin: 0px auto 1em;
  max-width: 100em;
}
#library header {
  margin-bottom: 2em;
}
#library-view > *,
#library-search .browse > *,
#library-search .searchbar,
#library-display .frame.preview .item {
  border: 1px solid #E8E8E8;
}
#library-search {
  background: #FBFBFB;
}
#library-search .input-group {
  border-spacing: 0px;
}
#library-search .browse {
  background: white;
}
#library-search .browse > * {
  border-width: 1px 1px 0px;
  margin: 0px;
}
#library-search .browse-header > * {
  margin: 5px;
}
#library-search h3 {
  float: left;
}
#library-search .browse-header > div {
  float: right;
  height: 2em;
}
#library-search .browse-header > div > * {
  display: inline;
  line-height: 1em;
  margin: 0px;
  vertical-align: bottom;
}
#library-search .browse > *:last-child {
  border-width: 1px;
}
#library-search .searchbar {
  border-width: 0px 0px 1px;
  margin: 0px 5px 10px;
  padding: 1em 1em 10px;
}
#library-search .browse {
  margin: 0px 1em 1em;
}
#library-tree {
  max-height: 100%;
  overflow: auto;
  padding: 5px 0px 0px;
  width: 100%;
}
#library-management {
  padding: 1em;
}
#library-management > * {
  margin: 5px 0px;
}
#library-management > *:before,
#library-management2 > *:before {
  content: '';
  display: block;
  float: left;
  height: 1.4em;
  margin-right: 5px;
  width: 1.45em;
}
#library-create-folder:before {
  background: url('folder-add.png') no-repeat 1px 0px/contain;
}
#library-display {
  margin: 1em 0px 0px;
  padding: 1em 0px 5em;
}
#library-display h3 {
  margin-top: 0px;
}
#library-display .frame {
  column-gap: 1em;
  column-width: 30em;
  overflow: auto;
  width: 100%;
}
#library-display .frame.preview .item {
  break-inside: avoid;
  max-width: 100%;
  overflow: hidden;
  margin: 0px 0px 1em;
  position: relative;
  width: 100%;
}
#library-display .frame.preview .item h4 {
  background: #E8E8E8;
  font-weight: bold;
  margin: 0px 0px 10px;
  padding: 5px 1em;
  text-align: center;
  white-space: nowrap;
}
#library-display .frame.preview .item img {
  float: left;
  height: 200px;
  margin: 0px 10px 10px;
  width: 150px;
}
#library-display .frame.preview .item p {
  margin-bottom: 2em;
  max-height: 10em;
  overflow: auto;
}
#library-display .frame.preview .item div {
  bottom: 10px;
  left: 170px;
  position: absolute;
  text-align: center;
  width: 46.4em;
}
#library-display .frame:not(.preview) {
  border-spacing: 0px 5px;
  display: table;
}
#library-display .frame:not(.preview) .item {
  display: table-row;
}
#library-display .frame:not(.preview) .item div {
  display: table-cell;
  font-size: 1em;
  height: 1em;
  line-height: 1em;
  padding: 5px 10px;
}
#library-display .frame:not(.preview) .item div:before {
    content: '\e202';
    font-family: 'Glyphicons Halflings';
    font-size: 1.2em;
    margin-right: 1em;
}
#library-display .frame .item.archived a {
  color: grey;
}
#library.admin #library-display .frame:not(.preview) .item button.admin {
  border: 0px;
  background: transparent;
  display: table-cell;
  margin: 5px;
}
#library-display .frame:not(.preview) .item button:before {
  display: block;
  font-family: 'Glyphicons Halflings';
  font-size: 1em;
  width: 1em;
}
#library-display .frame:not(.preview) .item .edit-file:before {
  content: '\e065';
}
#library-display .frame:not(.preview) .item .archive-file:before {
  color: #F00;
  content: '\e014';
}
#library-display .frame:not(.preview) .item .restore-file:before {
  color: #0C0;
  content: '\e027';
}
#library-management2 {
  bottom: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}
#library.admin #library-management2 .admin,
#library.partner #library-management2 .partner {
  display: inline-block;
  margin-left: 1em;
}
#library #library-management2 .admin:first-child {
  margin-left: 0px;
}
#library-upload-file:before {
  background: url('file-add.png') no-repeat 1px 0px/contain;
}
#library-archive-folder:before {
  background: url('folder-archive.png') no-repeat 1px 0px/contain;
}
#library-files {
  font-size: 1.5em;
  margin: 0px auto;
  width: 40em;
}
#library-controls {
  display: table;
  margin-top: 2em;
  width: 100%;
}
#library-controls div {
  display: table-cell;
  text-align: center;
}
#library-parameters {
  display: table;
  margin: 0px auto;
  width: 40em;
}
#library-parameters div {
  display: table-row;
}
#library-parameters label {
  display: table-cell;
  padding: 5px 0px;
  vertical-align: top;
  width: 7em;
}
#library-parameters input:not([type="checkbox"]),
#library-parameters textarea {
  display: table-cell;
  text-align: left;
  width: 100%;
}
#library-upload {
  margin: 20px auto 0px;
  width: 20em;
}

@media (min-width: 1200px) {
  #library.tab-content > #library-view.active {
    display: table;
    width: 100%;
  }
  #library-view {
    margin: 0px -2em 0px -1em;
    border-spacing: 1em 0px;
  }
  #library-search {
    display: table-cell;
    width: 20em;
  }
  #library-display {
    display: table-cell;
    margin: 0px;
    padding: 1em 1em 5em;
    position: relative;
  }
  #library-display .frame.preview .item {
    width: 32em;
  }
  #library-display .frame.preview .div {
    width: 19.9em;
  }
}
