.table-header-flex {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

.rotate-45 {
  transform: rotate(45deg);
}

.no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}