body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bordered {
  border: 1px solid #ccc;
}

.pagination {
  margin: 4px 0 !important;
}

.m-10 {
  margin: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.failed-link {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
  color: red;
}

@media (min-width: 1200px) {
  .modal-lg {
    width: 80% !important;
  }
}
