<div *ngIf="!data || data && !data.length">
  No results found
</div>

<div class="table-responsive bordered" style="position: relative" *ngIf="data && data.length">
  <ui-spinner *ngIf="loading" [overlay]="true"></ui-spinner>
  <table class="table table-bordered table-hover table-striped table-condensed table-nowrap custom-sizing " #table>
    <thead>
      <tr>
        <th 
          *ngFor="let column of columns" 
          style="cursor: pointer"
          (click)="sortTableColumn(column)" 
          >
          <div 
            style="display: flex; justify-content: space-between"
            [tooltip]="column.tooltip" 
            container="body" 
            >
            {{ column.label }}
            <span 
              *ngIf="column.sortAscending !== undefined" 
              [style.transform]="
                column.sortAscending 
                ? 'rotate(-135deg)' 
                : 'rotate(45deg)'"
            >&#9698;</span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody #tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let column of columns">

          <span>
            <a *ngIf="column.link" [href]="row[column.link]" target="_blank">
              {{ row[column.value] }}
            </a>

            <span *ngIf="!column.link">
              {{ row[column.value] }}
            </span>
          </span>

        </td>
      </tr>
    </tbody>
  
  </table>
</div>

<div class="clearfix" style="margin-top: 20px" *ngIf="data && data.length">
  <div class="pull-left">

    <pagination 
      [boundaryLinks]="true" 
      [totalItems]="numResults" 
      [(ngModel)]="pagingModel"
      [maxSize]="5"
      (pageChanged)="updateCurrentPage($event)"
      [itemsPerPage]="pageSize"
      class="pagination-sm"
      previousText="&lsaquo;" 
      nextText="&rsaquo;" 
      firstText="&laquo;" 
      lastText="&raquo;">
    </pagination>
  </div>

  <div class="pull-right">
    Show 
    <select #p (change)="updatePageSize(p.value)">
      <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
    </select>
    entries of {{ numResults | number }}
  </div>
</div>